<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">settings</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Lending Settings</h4>
                        <form>
                            <div class="row">
                                <label class="col-md-3">Lending Start Date</label>
                                <div class="col-md-3">
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                    </mat-datepicker-toggle>
                                    <mat-input-container>
                                        <input matInput
                                               name="to"
                                               [(ngModel)]="lendingStartDate"
                                               [matDatepicker]="picker">
                                    </mat-input-container>
                                    <mat-datepicker
                                            #picker
                                            [touchUi]="touch"
                                            [startView]="'month'">
                                    </mat-datepicker>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-info" (click)="saveStartDate()">Save</button>
                                </div>
                            </div>
                        </form>
                        <div *ngIf="settings.getUserSetting('permission') == 1">
                            <a class="btn btn-info btn-round" (click)="onAdd()"><i class="fa fa-plus"></i></a>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">Lending Amount</th>
                                    <th class="text-center">Interest</th>
                                    <th class="text-center">Volatility daily</th>
                                    <th class="text-center">Capital Back After</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let setting of lendingSettings">
                                    <td class="text-center"><i class="fa fa-usd"></i>{{setting.min | number:'1.0-0'}} to <i class="fa fa-usd"></i> {{setting.max | number:'1.0-0'}} </td>
                                    <td class="text-center">Up to {{setting.interest | number:'1.0-0'}}% per month</td>
                                    <td class="text-center">+{{setting.daily | number:'1.2-2'}}% daily</td>
                                    <td class="text-center">{{setting.after | number:'1.0-0'}} days</td>
                                    <td class="td-actions text-center">
                                        <button type="button" class="btn btn-success btn-round" (click)="onEdit(setting)" *ngIf="settings.getUserSetting('permission') == 1">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-round" (click)="onDelete(setting.id)" *ngIf="settings.getUserSetting('permission') == 1">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">device_hub</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Lendings</h4>
                        <div>
                            <button type="button" class="btn btn-info" (click)="releaseAllLending()">Release ALL Lending-capital</button>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">User Email</th>
                                    <th class="text-center">Lending Amount</th>
                                    <th class="text-center">BT9Coin Amount</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Finish Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let lending of lendings; let i=index">
                                    <td class="text-center">{{lending.email}}</td>
                                    <td class="text-center">{{lending.dest_amount | number:'1.2-2'}}</td>
                                    <td class="text-center">{{lending.src_amount | number:'1.8-8'}}</td>
                                    <td class="text-center">{{lending.date | date:'yyyy-MM-dd'}}</td>
                                    <td class="text-center">{{lending.finish_date | date:'yyyy-MM-dd'}}</td>
                                </tr>
                                <!---->
                                <tr *ngIf="lendings?.length == 0">
                                    <td class="text-center" colspan="4">
                                        No Lending found.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal-dialog [(visible)]="showModal" class="card" [closable]="false">
    <h2 class="text-left">
        Lending Setting
    </h2>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="row">
                    <label class="col-md-3 label-on-left">Amount</label>
                    <div class="col-md-4">
                        <div class="form-group label-floating is-empty">
                            <input type="number" class="form-control" name="min" [(ngModel)]="lendingSetting.min">
                        </div>
                    </div>
                    <label class="col-md-1 text-center label-on-left" style="text-align: center;">~</label>
                    <div class="col-md-4">
                        <div class="form-group label-floating is-empty">
                            <input type="number" class="form-control" name="max" [(ngModel)]="lendingSetting.max">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 label-on-left">Interest</label>
                    <div class="col-md-9">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="number" class="form-control" step="1" name="interest" [(ngModel)]="lendingSetting.interest">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 label-on-left">Volatility daily</label>
                    <div class="col-md-9">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="number" class="form-control" step="0.01" name="daily" [(ngModel)]="lendingSetting.daily">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 label-on-left">Capital Back After</label>
                    <div class="col-md-9">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="number" class="form-control" step="1" name="after" [(ngModel)]="lendingSetting.after">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <div class="form-group form-button">
                            <button type="button" class="btn btn-fill btn-info" (click)="saveLendingSetting()">Save</button>
                            <button type="button" class="btn btn-fill btn-danger" (click)="showModal = false;">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</modal-dialog>