<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                    <pre>
                        <h3 class="card-title">{{ticket.title}}</h3>
                    </pre>
                        <p>
                            Created: {{ticket.created_at | date: 'dd MMMM yyyy HH:mm'}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Updated: {{ticket.updated_at | date: 'dd MMMM yyyy HH:mm'}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3" *ngIf="ticket.status != 2">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" (click)="onReply()">
                    Reply
                </button>
                <button type="button" class="btn btn-danger" (click)="closeTicket()">
                    Close Ticket
                </button>
            </div>
        </div>

        <input type="file" name="file" class="form-control" id="attachFile" (change)="fileChangeListener($event)"
               style="display: none;">
        <div class="row" *ngIf="isReply">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Message</label>
                                    <textarea class="form-control" rows="10" name="message"
                                              [(ngModel)]="ticket.message"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="pull-left">
                                        {{ticket.attach_name}}
                                    </div>
                                    <button type="button" class="btn btn-primary pull-right" (click)="onAttachFile()">
                                        Add Attach File
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-info" (click)="sendTicket()">
                                        SEND
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngFor="let detail of details;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3 border-right-1">
                                <p>{{detail.username}}</p>
                                <!--<p>{{(detail.user_type == 0 ? 'LABEL.USER' : 'LABEL.ADMIN') | translate}}</p>-->
                            </div>
                            <div class="col-md-9">
                                <p class="border-bottom-1">
                                    Posted on {{detail.created_at | date: 'dd MMMM yyyy HH:mm'}}
                                </p>
                                <pre>{{detail.message}}</pre>
                                <p *ngIf="detail.attach_name != ''">
                                    <a target="_blank" href="{{detail.attach_url}}">{{detail.attach_name}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>