
.important-note {
  color: #ff4c4c !important;
  font-size: 11px;
  font-weight: 700;
  font-style: italic;
}

.vat {
  vertical-align: top !important;
}

.btn2 {
  margin-right: -5px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn2-default {
  color: #333;
  background-color: #e5eaee;
  border-color: #d5dadd;
}

.qrCode {
  width: 160px;
}

.panel-group .panel-heading {
  position: relative;
  display: block;
  width: 100%;
}

.panel-heading {
  height: 52px;
  line-height: 49px;
  letter-spacing: .2px;
  color: #a9acbd;
  font-size: 15px;
  font-weight: 400;
  padding: 0 13px;
  background: #fafafa;
  border: 1px solid #e5eaee;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}