<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title text-center">Deposit/Withdraw Coin</h3>
                <br/>
                <div class="nav-center">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
                        <li class="active">
                            <a href="#btc" role="tab" data-toggle="tab">
                                <i class="fa fa-bitcoin"></i> BITCOIN</a>
                        </li>
                        <li>
                            <a href="#eth" role="tab" data-toggle="tab">
                                <i><img src="assets/img/eth_29x29.png"/></i> ETHEREUM
                            </a>
                        </li>
                        <li class="">
                            <a href="#bt9" role="tab" data-toggle="tab">
                                <i><img src="assets/img/B9_black.png" style="width: 30px;"/></i> BT9COIN
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="bt9">
                        <div class="row" *ngIf="settings.getSysSetting('enable_bt9_wallet') == 0">
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    BT9COIN Wallet is disabled.
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="settings.getSysSetting('enable_bt9_wallet') == 1">
                            <div class="col-md-6">
                                <div class="card h800">
                                    <div class="card-header">
                                        <h4 class="card-title">Deposit BT9Coin</h4>
                                    </div>
                                    <div class="card-content">
                                        <h3 style="color: orange; ">Receive BT9Coin(BT9)</h3>
                                        <p>Your BT9Coin Deposit Address Is:</p>
                                        <div>
                                            <div class="form-group">
                                                <input type="text" class="form-control text-center" readonly
                                                       style="cursor: pointer; color: black;"
                                                       value="{{settings.getUserSetting('bt9_address')}}">
                                            </div>
                                            <div class="text-center"
                                                 *ngIf="settings.getUserSetting('bt9_address') != ''">
                                                <img class="qrCode"
                                                     src="https://chart.googleapis.com/chart?chs=200x200&chld=L|2&cht=qr&chl=bt9coin:{{settings.getUserSetting('bt9_address')}}"/>
                                            </div>
                                        </div>
                                        <div class="important-note">

                                        </div>
                                        <div class="important-note">
                                            <p>Remember: CHECK the FIRST 4 characters and the LAST 4 characters of the
                                                BT9Coin address when you PASTE it elsewhere</p>
                                            <p>Important: This deposit address is for BT9Coin (BT9) only. We will not
                                                refund an incorrect Deposit.</p>
                                            <p>- Don't worry. If you don't receive any transaction. Please click
                                                'Refresh' or 'Don't Receive Your Deposit' or contact support</p>
                                            <p>- You can deposit BT9Coin from anywhere. Include exchange market </p>
                                        </div>
                                        <div>
                                            <button class="btn btn-xs btn-warning send-bitcoin-submit"
                                                    (click)="loadBT9ReceivedTxList()" type="button">
                                                <i class="fa fa-refresh"></i>
                                                Refresh
                                            </button>
                                        </div>
                                        <div class="bs-component">
                                            <div class="panel-group accordion">
                                                <div class="panel mbn" style="border: 1px solid #c2c8d8;">
                                                    <div class="panel-heading" style="height: auto">
                                                        <p style="border-radius: 0px;background-color:transparent;color:black">
                                                            Incoming BT9Coin Transactions
                                                        </p>
                                                    </div>
                                                    <div class="panel-collapse collapse in "
                                                         style="background-color: white">
                                                        <div class="row" style="margin-top: 0;">
                                                            <div class="col-sm-12">
                                                                <div class="table-responsive">
                                                                    <table cellspacing="0"
                                                                           class="table table-striped table-hover table-condensed text-black "
                                                                           width="100%">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>TXID</th>
                                                                            <th>BT9</th>
                                                                            <th>Confirmation</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr *ngFor="let tx of bt9ReceivedTxList">
                                                                            <td>{{tx.txid}}</td>
                                                                            <td>{{tx.amount}}</td>
                                                                            <td>{{tx.confirmations}}</td>
                                                                        </tr>
                                                                        <!---->
                                                                        <tr *ngIf="bt9ReceivedTxList?.length == 0">
                                                                            <td class="text-center" colspan="3">
                                                                                No Incoming BT9Coin transactions found.
                                                                            </td>
                                                                        </tr>
                                                                        <!---->
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <p>We require minimum 3 confirmations to complete transaction. On average, each
                                            confirmation takes about 15 minutes. It can take more time depending on the
                                            BT9Coin network so do not worry and wait quietly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="settings.getSysSetting('enable_bt9_withdraw') == 0">
                                <div class="card h800">
                                    <div class="card-content">
                                        <div class="alert alert-info">
                                            BT9Coin Withdraw is disabled.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="settings.getSysSetting('enable_bt9_withdraw') == 1">
                                <div class="card h800">
                                    <div class="card-header">
                                        <h4 class="card-title">Withdraw BT9Coin</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="p20" style="position: relative">
                                            <div style="">
                                                <h3 class="mtn" style="color:orange">Send BT9Coin (BT9)</h3>
                                                <p class="text-black">Your BT9Coin wallet balance:
                                                    <strong class="bitcoin_wallet_balance">{{settings.getUserSetting('token_balance') | number:'1.8-8'}}</strong>
                                                    BT9
                                                    <span class="bitcoin_wallet_balance_unconfirmed"></span>
                                                </p>
                                                <div class="response"></div>
                                                <form class="form-horizontal" [formGroup]="withdrawBT9Form">
                                                    <div class="form-group is-empty">
                                                        <label class="control-label"> To address </label>
                                                        <div class="input-group">
                                                            <div class="input-group-btn vat">
                                                                <span class="btn2 btn2-default w40px" disabled="">
                                                                    <i class="fa fa-chain"></i>
                                                                </span>
                                                            </div>

                                                            <input autocomplete="off" class="form-control"
                                                                   formControlName="address"
                                                                   name="toAddress" style="height:34px;" type="text"
                                                                   placeholder="BT9Coin Address"
                                                                   [(ngModel)]="bt9coin.address">

                                                            <app-field-error-display
                                                                    [displayError]="validate.isFieldValid(withdrawBT9Form, 'address')"
                                                                    errorMsg="Address Ethereum required.">
                                                            </app-field-error-display>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Quantity in BT9Coin</label>
                                                        <div class="input-group">
                                                            <div class="input-group-btn vat">
                                                                <span class="btn2 btn2-default w40px" disabled=""
                                                                      style="padding: 5px;">
                                                                    <img src="assets/img/B9_black.png"></span>
                                                            </div>

                                                            <input class="form-control" name="amountCoin"
                                                                   formControlName="amount"
                                                                   style="height:34px;" type="text"
                                                                   placeholder="Quantity in BT9Coin"
                                                                   [(ngModel)]="bt9coin.amount">
                                                            <app-field-error-display
                                                                    [displayError]="validate.isFieldValid(withdrawBT9Form, 'amount')"
                                                                    errorMsg="Amount required.">
                                                            </app-field-error-display>
                                                        </div>
                                                        <small class="text-black">Minimum Withdrawal : 0.005 BT9
                                                        </small>

                                                        <div style="margin-top: 20px;">
                                                            <span style="margin-left: 50px; ">Withdraw Fee: {{settings.getSysSetting('withdraw_bt9_fee')}} %</span>
                                                        </div>
                                                        <div style="margin-top: 10px;">
                                                            <span style="margin-left: 50px; ">Withdraw Amount: <b>{{(bt9coin.amount * (100 - settings.getSysSetting('withdraw_bt9_fee')) / 100) | number:'1.8-8'}}</b> BT9</span>
                                                        </div>
                                                    </div>
                                                    <!--<div>Receive: <b>0.00000000</b></div>-->
                                                    <button class="btn btn-warning" type="button"
                                                            (click)="onWithdrawBT9()">
                                                        <img src="assets/img/B9_color.png" style="width: 20px;"/>
                                                        Withdraw from BT9 wallet
                                                    </button>
                                                </form>
                                                <div class="bs-component">
                                                    <div class="panel-group accordion">
                                                        <div class="panel mbn" style="border: 1px solid #c2c8d8;">
                                                            <div class="panel-heading" style="height: auto">
                                                                <p style="border-radius: 0px;background-color:transparent;color:black">
                                                                    Pending Withdraw BT9Coin Transactions
                                                                </p>
                                                            </div>
                                                            <div class="panel-collapse collapse in "
                                                                 style="background-color: white">
                                                                <div class="row" style="margin-top: 0;">
                                                                    <div class="col-sm-12">
                                                                        <div class="table-responsive">
                                                                            <table cellspacing="0"
                                                                                   class="table table-striped table-hover table-condensed text-black "
                                                                                   width="100%">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>To Address</th>
                                                                                    <th>BT9</th>
                                                                                    <th>Status</th>
                                                                                    <th>Action</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr *ngFor="let tx of bt9SentTxList">
                                                                                    <td>{{tx.address}}</td>
                                                                                    <td>{{tx.src_amount | number:'1.8-8'}}</td>
                                                                                    <td>PENDING</td>
                                                                                    <td>
                                                                                        <button type="button" class="btn btn-danger btn-sm" (click)="cancelWithdraw('BT9', tx.id)">
                                                                                            <i class="fa fa-close"></i>
                                                                                        </button>
                                                                                    </td>
                                                                                </tr>
                                                                                <!---->
                                                                                <tr *ngIf="bt9SentTxList?.length == 0">
                                                                                    <td class="text-center" colspan="4">
                                                                                        No Pending Withdraw BT9Coin
                                                                                        transactions found.
                                                                                    </td>
                                                                                </tr>
                                                                                <!---->
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>After request, we will send your transaction to our fraud detection
                                                    AI system. Your transaction will be processed quickly</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="btc">
                        <div class="row" *ngIf="settings.getSysSetting('enable_btc_wallet') == 0">
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    BITCOIN Wallet is disabled.
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="settings.getSysSetting('enable_btc_wallet') == 1">
                            <div class="col-md-6">
                                <div class="card h800">
                                    <div class="card-header">
                                        <h4 class="card-title">Deposit BitCoin</h4>
                                    </div>
                                    <div class="card-content">
                                        <h3 style="color: orange; ">Receive BitCoin(BTC)</h3>
                                        <p>Your BitCoin Deposit Address Is:</p>
                                        <div>
                                            <div class="form-group">
                                                <input type="text" class="form-control text-center" readonly
                                                       style="cursor: pointer; color: black;"
                                                       value="{{settings.getUserSetting('btc_address')}}">
                                            </div>
                                            <div class="text-center"
                                                 *ngIf="settings.getUserSetting('btc_address') != ''">
                                                <img class="qrCode"
                                                     src="https://chart.googleapis.com/chart?chs=200x200&chld=L|2&cht=qr&chl=bitcoin:{{settings.getUserSetting('btc_address')}}"/>
                                            </div>
                                        </div>
                                        <div class="important-note">

                                        </div>
                                        <div class="important-note">
                                            <p>Remember: CHECK the FIRST 4 characters and the LAST 4 characters of the
                                                Bitcoin address
                                                when you PASTE it elsewhere</p>
                                            <p>Important: This deposit address is for BitCoin (BTC) only. We will not
                                                refund an
                                                incorrect Deposit.</p>
                                            <p>- Don't worry. If you don't receive any transaction. Please click
                                                'Refresh' or 'Don't
                                                Receive Your Deposit' or contact support</p>
                                            <p>- You can deposit Bitcoin from anywhere. Include exchange market </p>
                                        </div>
                                        <!--<button class="btn btn-xs btn-warning send-bitcoin-submit" disable="true"-->
                                        <!--type="button">-->
                                        <!--<i class="fa fa-question-circle"-->
                                        <!--style="background-position: right; filter: brightness(0) invert(1)"></i>-->
                                        <!--Don't Receive Your Deposit-->
                                        <!--</button>-->
                                        <div>
                                            <button class="btn btn-xs btn-warning send-bitcoin-submit"
                                                    (click)="loadBTCReceivedTxList()" type="button">
                                                <i class="fa fa-refresh"></i>
                                                Refresh
                                            </button>
                                        </div>
                                        <div class="bs-component">
                                            <div class="panel-group accordion">
                                                <div class="panel mbn" style="border: 1px solid #c2c8d8;">
                                                    <div class="panel-heading" style="height: auto">
                                                        <p style="border-radius: 0px;background-color:transparent;color:black">
                                                            Incoming Bitcoin Transactions
                                                        </p>
                                                    </div>
                                                    <div class="panel-collapse collapse in "
                                                         style="background-color: white">
                                                        <div class="row" style="margin-top: 0;">
                                                            <div class="col-sm-12">
                                                                <div class="table-responsive">
                                                                    <table cellspacing="0"
                                                                           class="table table-striped table-hover table-condensed text-black "
                                                                           width="100%">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>TXID</th>
                                                                            <th>BTC</th>
                                                                            <th>Confirmation</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr *ngFor="let tx of btcReceivedTxList">
                                                                            <td>{{tx.txid}}</td>
                                                                            <td>{{tx.amount}}
                                                                            </td>
                                                                            <td>{{tx.confirmations}}</td>
                                                                        </tr>
                                                                        <!---->
                                                                        <tr *ngIf="btcReceivedTxList?.length == 0">
                                                                            <td class="text-center" colspan="3">
                                                                                No Incoming Bitcoin transactions found.
                                                                            </td>
                                                                        </tr>
                                                                        <!---->
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <p>We require minimum 3 confirmations to complete transaction. On average, each
                                            confirmation
                                            takes about 15 minutes. It can take more time depending on the Bitcoin
                                            network so do not
                                            worry and wait quietly.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" *ngIf="settings.getSysSetting('enable_btc_withdraw') == 0">
                                <div class="card h800">
                                    <div class="card-content">
                                        <div class="alert alert-info">
                                            BITCOIN Withdraw is disabled.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="settings.getSysSetting('enable_btc_withdraw') == 1">
                                <div class="card h800">
                                    <div class="card-header">
                                        <h4 class="card-title">Withdraw BitCoin</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="p20" id="send-bitcoin-area" style="position: relative">
                                            <div style="">
                                                <h3 class="mtn" style="color:orange">Send BitCoin (BTC)</h3>
                                                <p class="text-black">Your Bitcoin wallet balance: <strong
                                                        class="bitcoin_wallet_balance">
                                                    {{settings.getUserSetting('btc_balance') | number:'1.8-8'}}</strong> BTC
                                                    <span class="bitcoin_wallet_balance_unconfirmed"></span>
                                                </p>
                                                <div class="response"></div>
                                                <form class="form-horizontal" [formGroup]="withdrawBTCForm">
                                                    <div class="form-group is-empty">
                                                        <label class="control-label"> To address </label>
                                                        <div class="input-group">
                                                            <div class="input-group-btn vat">
                                                                <span class="btn2 btn2-default w40px" disabled="">
                                                                    <i class="fa fa-chain"></i></span>
                                                            </div>
                                                            <input autocomplete="off" class="form-control"
                                                                   formControlName="address"
                                                                   name="toAddress" style="height:34px;" type="text"
                                                                   placeholder="Bitcoin Address"
                                                                   [(ngModel)]="bitcoin.address">

                                                            <app-field-error-display
                                                                    [displayError]="validate.isFieldValid(withdrawBTCForm, 'address')"
                                                                    errorMsg="Address Bitcoin required.">
                                                            </app-field-error-display>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Quantity in Bitcoin</label>
                                                        <div class="input-group">
                                                            <div class="input-group-btn vat">
                                                                <span class="btn2 btn2-default w40px" disabled="">
                                                                    <i class="fa fa-btc"></i></span>
                                                            </div>

                                                            <input class="form-control" name="amountCoin"
                                                                   formControlName="amount"
                                                                   style="height:34px;" type="text"
                                                                   placeholder="Quantity in Bitcoin"
                                                                   [(ngModel)]="bitcoin.amount">
                                                            <app-field-error-display
                                                                    [displayError]="validate.isFieldValid(withdrawBTCForm, 'amount')"
                                                                    errorMsg="Amount required.">
                                                            </app-field-error-display>
                                                            <!--<div class="input-group-btn ">-->
                                                            <!--<span class="btn2 btn2-default mnw100 all_btc_minus_fee_send">ALL</span>-->
                                                            <!--</div>-->
                                                        </div>
                                                        <!--<small class="text-black">Minimum Withdrawal : 0.0005 BTC, Transaction Fee : 0.0004 BTC</small>-->
                                                        <small class="text-black">Minimum Withdrawal : 0.001 BTC
                                                        </small>
                                                        <div style="margin-top: 20px;">
                                                            <span style="margin-left: 50px; ">Withdraw Fee: {{settings.getSysSetting('withdraw_btc_fee')}} %</span>
                                                        </div>
                                                        <div style="margin-top: 10px;">
                                                            <span style="margin-left: 50px; ">Withdraw Amount: <b>{{(bitcoin.amount * (100 - settings.getSysSetting('withdraw_btc_fee')) / 100) | number:'1.8-8'}}</b> BTC</span>
                                                        </div>
                                                    </div>
                                                    <!--<div>Receive: <b>0.00000000</b></div>-->
                                                    <button class="btn btn-warning" type="button"
                                                            (click)="onWithdrawBTC()">
                                                        <i class="fa fa-btc  progress-icon fa-lg"
                                                           style="background-position: right;filter: brightness(0) invert(1)"></i>
                                                        Withdraw from BTC wallet
                                                    </button>
                                                </form>
                                                <div class="bs-component">
                                                    <div class="panel-group accordion">
                                                        <div class="panel mbn" style="border: 1px solid #c2c8d8;">
                                                            <div class="panel-heading" style="height: auto">
                                                                <p style="border-radius: 0px;background-color:transparent;color:black">
                                                                    Pending Withdraw Bitcoin Transactions
                                                                </p>
                                                            </div>
                                                            <div class="panel-collapse collapse in "
                                                                 id="incoming_bitcoin_transaction"
                                                                 style="background-color: white">
                                                                <div class="row" style="margin-top: 0;">
                                                                    <div class="col-sm-12">
                                                                        <div class="table-responsive">
                                                                            <table cellspacing="0"
                                                                                   class="table table-striped table-hover table-condensed text-black "
                                                                                   id="incoming-bitcoin-transaction-table"
                                                                                   width="100%">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>To Address</th>
                                                                                    <th>BTC</th>
                                                                                    <th>Status</th>
                                                                                    <th>Action</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr *ngFor="let tx of btcSentTxList">
                                                                                    <td>{{tx.address}}</td>
                                                                                    <td>{{tx.src_amount | number:'1.8-8'}}</td>
                                                                                    <td>PENDING</td>
                                                                                    <td>
                                                                                        <button type="button" class="btn btn-danger btn-sm" (click)="cancelWithdraw('BTC', tx.id)">
                                                                                            <i class="fa fa-close"></i>
                                                                                        </button>
                                                                                    </td>
                                                                                </tr>
                                                                                <!---->
                                                                                <tr *ngIf="btcSentTxList?.length == 0">
                                                                                    <td class="text-center" colspan="4">
                                                                                        No Pending
                                                                                        Withdraw Bitcoin transactions
                                                                                        found.
                                                                                    </td>
                                                                                </tr>
                                                                                <!---->
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>After request, we will send your transaction to our fraud detection
                                                    AI system. Your
                                                    transaction will be processed quickly</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="eth">
                        <div class="row" *ngIf="settings.getSysSetting('enable_eth_wallet') == 0">
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    ETHEREUM Wallet is disabled.
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="settings.getSysSetting('enable_eth_wallet') == 1">
                            <div class="col-md-6">
                                <div class="card h800">
                                    <div class="card-header">
                                        <h4 class="card-title">Deposit Ethereum</h4>
                                    </div>
                                    <div class="card-content">
                                        <h3 style="color: orange; ">Receive Ethereum(ETH)</h3>
                                        <p>Your Ethereum Deposit Address Is:</p>
                                        <div>
                                            <div class="form-group">
                                                <input type="text" class="form-control text-center" readonly
                                                       style="cursor: pointer; color: black;"
                                                       value="{{settings.getUserSetting('eth_address')}}">
                                            </div>
                                            <div class="text-center"
                                                 *ngIf="settings.getUserSetting('eth_address') != ''">
                                                <img class="qrCode"
                                                     src="https://chart.googleapis.com/chart?chs=200x200&chld=L|2&cht=qr&chl=ethereum:{{settings.getUserSetting('eth_address')}}"/>
                                            </div>
                                        </div>
                                        <div class="important-note">

                                        </div>
                                        <div class="important-note">
                                            <p>Remember: CHECK the FIRST 4 characters and the LAST 4 characters of the
                                                Ethereum address
                                                when you PASTE it elsewhere</p>
                                            <p>Important: This deposit address is for Ethereum (ETH) only. We will not
                                                refund
                                                an
                                                incorrect Deposit.</p>
                                            <p>- Don't worry. If you don't receive any transaction. Please click
                                                'Refresh'
                                                or 'Don't
                                                Receive Your Deposit' or contact support</p>
                                            <p>- You can deposit Ethereum from anywhere. Include exchange market </p>
                                        </div>
                                        <div>
                                            <button class="btn btn-xs btn-warning send-bitcoin-submit"
                                                    (click)="loadETHReceivedTxList()" type="button">
                                                <i class="fa fa-refresh"></i>
                                                Refresh
                                            </button>
                                        </div>
                                        <div class="bs-component">
                                            <div class="panel-group accordion">
                                                <div class="panel mbn" style="border: 1px solid #c2c8d8;">
                                                    <div class="panel-heading" style="height: auto">
                                                        <p style="border-radius: 0px;background-color:transparent;color:black">
                                                            Incoming Ethereum Transactions
                                                        </p>
                                                    </div>
                                                    <div class="panel-collapse collapse in "
                                                         style="background-color: white">
                                                        <div class="row" style="margin-top: 0;">
                                                            <div class="col-sm-12">
                                                                <div class="table-responsive">
                                                                    <table cellspacing="0"
                                                                           class="table table-striped table-hover table-condensed text-black "
                                                                           width="100%">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>TXID</th>
                                                                            <th>ETH</th>
                                                                            <th>Confirmation</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr *ngFor="let tx of ethReceivedTxList">
                                                                            <td>{{tx.txid}}</td>
                                                                            <td>{{tx.amount}}</td>
                                                                            <td>{{tx.confirmations}}</td>
                                                                        </tr>
                                                                        <!---->
                                                                        <tr *ngIf="ethReceivedTxList?.length == 0">
                                                                            <td class="text-center" colspan="3">
                                                                                No Incoming Ethereum transactions found.
                                                                            </td>
                                                                        </tr>
                                                                        <!---->
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <p>We require minimum 3 confirmations to complete transaction. On average, each
                                            confirmation takes about 15 minutes. It can take more time depending on the
                                            Ethereum network so do not worry and wait quietly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="settings.getSysSetting('enable_eth_withdraw') == 0">
                                <div class="card h800">
                                    <div class="card-content">
                                        <div class="alert alert-info">
                                            ETHEREUM Withdraw is disabled.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="settings.getSysSetting('enable_eth_withdraw') == 1">
                                <div class="card h800">
                                    <div class="card-header">
                                        <h4 class="card-title">Withdraw Ethereum</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="p20" style="position: relative">
                                            <div style="">
                                                <h3 class="mtn" style="color:orange">Send Ethereum (ETH)</h3>
                                                <p class="text-black">Your Ethereum wallet balance:
                                                    <strong class="bitcoin_wallet_balance">{{settings.getUserSetting('eth_balance') | number:'1.8-8'}}</strong>
                                                    ETH
                                                    <span class="bitcoin_wallet_balance_unconfirmed"></span>
                                                </p>
                                                <div class="response"></div>
                                                <form class="form-horizontal" [formGroup]="withdrawETHForm">
                                                    <div class="form-group is-empty">
                                                        <label class="control-label"> To address </label>
                                                        <div class="input-group">
                                                            <div class="input-group-btn vat">
                                                                <span class="btn2 btn2-default w40px" disabled="">
                                                                    <i class="fa fa-chain"></i>
                                                                </span>
                                                            </div>

                                                            <input autocomplete="off" class="form-control"
                                                                   formControlName="address"
                                                                   name="toAddress" style="height:34px;" type="text"
                                                                   placeholder="Ethereum Address"
                                                                   [(ngModel)]="ethereum.address">

                                                            <app-field-error-display
                                                                    [displayError]="validate.isFieldValid(withdrawETHForm, 'address')"
                                                                    errorMsg="Address Ethereum required.">
                                                            </app-field-error-display>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Quantity in Ethereum</label>
                                                        <div class="input-group">
                                                            <div class="input-group-btn vat">
                                                                <span class="btn2 btn2-default w40px" disabled=""
                                                                      style="padding: 5px;">
                                                                    <img src="assets/img/eth.png" style="width: 15px;"></span>
                                                            </div>

                                                            <input class="form-control" name="amountCoin"
                                                                   formControlName="amount"
                                                                   style="height:34px;" type="text"
                                                                   placeholder="Quantity in Ethereum"
                                                                   [(ngModel)]="ethereum.amount">
                                                            <app-field-error-display
                                                                    [displayError]="validate.isFieldValid(withdrawETHForm, 'amount')"
                                                                    errorMsg="Amount required.">
                                                            </app-field-error-display>
                                                        </div>
                                                        <small class="text-black">Minimum Withdrawal : 0.005 ETH
                                                        </small>

                                                        <div style="margin-top: 20px;">
                                                            <span style="margin-left: 50px; ">Withdraw Fee: {{settings.getSysSetting('withdraw_eth_fee')}} %</span>
                                                        </div>
                                                        <div style="margin-top: 10px;">
                                                            <span style="margin-left: 50px; ">Withdraw Amount: <b>{{(ethereum.amount * (100 - settings.getSysSetting('withdraw_eth_fee')) / 100) | number:'1.8-8'}}</b> ETH</span>
                                                        </div>
                                                    </div>
                                                    <!--<div>Receive: <b>0.00000000</b></div>-->
                                                    <button class="btn btn-warning" type="button"
                                                            (click)="onWithdrawETH()">
                                                        <img src="assets/img/eth.png" style="width: 15px;">
                                                        Withdraw from ETH wallet
                                                    </button>
                                                </form>
                                                <div class="bs-component">
                                                    <div class="panel-group accordion">
                                                        <div class="panel mbn" style="border: 1px solid #c2c8d8;">
                                                            <div class="panel-heading" style="height: auto">
                                                                <p style="border-radius: 0px;background-color:transparent;color:black">
                                                                    Pending Withdraw Ethereum Transactions
                                                                </p>
                                                            </div>
                                                            <div class="panel-collapse collapse in "
                                                                 style="background-color: white">
                                                                <div class="row" style="margin-top: 0;">
                                                                    <div class="col-sm-12">
                                                                        <div class="table-responsive">
                                                                            <table cellspacing="0"
                                                                                   class="table table-striped table-hover table-condensed text-black "
                                                                                   width="100%">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>To Address</th>
                                                                                    <th>ETH</th>
                                                                                    <th>Status</th>
                                                                                    <th>Action</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr *ngFor="let tx of ethSentTxList">
                                                                                    <td>{{tx.address}}</td>
                                                                                    <td>{{tx.src_amount | number:'1.8-8'}}</td>
                                                                                    <td>PENDING</td>
                                                                                    <td>
                                                                                        <button type="button" class="btn btn-danger btn-sm" (click)="cancelWithdraw('ETH', tx.id)">
                                                                                            <i class="fa fa-close"></i>
                                                                                        </button>
                                                                                    </td>
                                                                                </tr>
                                                                                <!---->
                                                                                <tr *ngIf="ethSentTxList?.length == 0">
                                                                                    <td class="text-center" colspan="4">
                                                                                        No Pending Withdraw Ethereum
                                                                                        transactions found.
                                                                                    </td>
                                                                                </tr>
                                                                                <!---->
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>After request, we will send your transaction to our fraud detection
                                                    AI system. Your transaction will be processed quickly</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<modal-dialog [(visible)]="showAuthModal" [closable]="false">
    <form class="form-horizontal">
        <h2>
            INPUT YOUR AUTHENTICATOR CODE
        </h2>

        <div class="swal2-validationerror" style="display: block;">
            Please check your email.
        </div>

        <input type="text" class="form-control" style="text-align: center; font-size: 20px;" name="authCode" [(ngModel)]="authCode">

        <div class="swal2-validationerror" style="display: block;" *ngIf="!codeMatch">
            The authentication code you specified is incorrect. Please check your email again.
        </div>

        <div class="text-center" style="margin-top: 20px;">
            <button type="button" class="btn btn-primary" (click)="submitCode()">Submit</button>
            <button type="button" class="btn btn-default" (click)="showAuthModal = !showAuthModal">Cancel</button>
        </div>
    </form>
</modal-dialog>