<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <h4 class="card-title"><b>Users</b></h4>
                        <div class="material-datatables table-responsive">
                            <table id="userstable"
                                   class="table table-striped table-no-bordered table-hover"
                                   cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th class="text-center">Username</th>
                                    <th class="text-center">Full Name</th>
                                    <th class="text-center">Confirmed Email</th>
                                    <th class="text-center">Enable 2FA</th>
                                    <th class="text-center">Register At</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let user of users;">
                                    <td>{{user.email}}</td>
                                    <td class="text-center">{{user.username}}</td>
                                    <td class="text-center">{{user.fullname}}</td>
                                    <td class="text-center">{{user.confirmed == 1 ? 'Yes' : 'No'}}</td>
                                    <td class="text-center">{{user.allow_g2f == 1 ? 'Yes' : 'No'}}</td>
                                    <td class="text-center">{{user.created_at | date: 'yyyy-MM-dd'}}</td>
                                    <td class="text-right">
                                        <button class="btn btn-simple btn-warning btn-icon view"  matTooltip="Transaction View" [matTooltipPosition]="'left'">
                                            <i class="material-icons">dvr</i>
                                        </button>
                                        <button class="btn btn-simple btn-danger btn-icon remove"  matTooltip="Remove" [matTooltipPosition]="'left'" *ngIf="settings.getUserSetting('role') == 'admin'">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
