<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">play_for_work</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Stakings</h4>
                        <div>
                            <button type="button" class="btn btn-info" (click)="releaseAllStaking()">Release ALL Staking-capital</button>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">User Email</th>
                                    <th class="text-center">Staking Amount(BT9)</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Finish Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let staking of stakings; let i=index">
                                    <td class="text-center">{{staking.email}}</td>
                                    <td class="text-center">{{staking.src_amount | number:'1.8-8'}}</td>
                                    <td class="text-center">{{staking.date | date:'yyyy-MM-dd'}}</td>
                                    <td class="text-center">{{staking.finish_date | date:'yyyy-MM-dd'}}</td>
                                </tr>
                                <!---->
                                <tr *ngIf="stakings?.length == 0">
                                    <td class="text-center" colspan="4">
                                        No Staking found.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>