<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!--<div class="card-header" data-background-color="orange">-->
                    <!--<i class="fa fa-chain"></i>-->
                    <!--</div>-->
                    <div class="card-content">
                        <div class="card-title">
                            <h4 class="card-title">System Setting</h4>

                            <form class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-3 label-on-left">Blockcypher Token</label>
                                    <div class="col-md-9">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="blockcypher_token"
                                                   [(ngModel)]="sysSettings.blockcypher_token">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 label-on-left">Disconnect Time(min)</label>
                                    <div class="col-md-9">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="disconnect_time"
                                                   [(ngModel)]="sysSettings.disconnect_time">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                        <label class="font-size-17">
                                            Registration Notification (Disable/Enable)
                                            <input type="checkbox" name="enable_reg_notification" [(ngModel)]="sysSettings.enable_reg_notification">
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                        <label class="font-size-17">
                                            ICO (Disable/Enable)
                                            <input type="checkbox" name="enable_staking" [(ngModel)]="sysSettings.enable_ico">
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                        <label class="font-size-17">
                                            Lending (Disable/Enable)
                                            <input type="checkbox" name="enable_lending" [(ngModel)]="sysSettings.enable_lending">
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                        <label class="font-size-17">
                                            Staking (Disable/Enable)
                                            <input type="checkbox" name="enable_staking" [(ngModel)]="sysSettings.enable_staking">
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                        <label class="font-size-17">
                                            Support (Disable/Enable)
                                            <input type="checkbox" name="enable_support" [(ngModel)]="sysSettings.enable_support">
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9" *ngIf="settings.getUserSetting('permission') == 1">
                                        <div class="form-group form-button">
                                            <button type="button" class="btn btn-info" (click)="saveSystemSetting()">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h4 class="card-title">Wallet Setting</h4>
                        </div>
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                            <label class="font-size-17">
                                                BTC Wallet (Disable/Enable) <input type="checkbox"
                                                                                   name="enable_btc_wallet"
                                                                                   [(ngModel)]="sysSettings.enable_btc_wallet">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                            <label class="font-size-17">
                                                ETH Wallet (Disable/Enable) <input type="checkbox"
                                                                                   name="enable_eth_wallet"
                                                                                   [(ngModel)]="sysSettings.enable_eth_wallet">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                            <label class="font-size-17">
                                                BT9 Wallet (Disable/Enable) <input type="checkbox"
                                                                                   name="enable_bt9_wallet"
                                                                                   [(ngModel)]="sysSettings.enable_bt9_wallet">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                            <label class="font-size-17">
                                                BTC Withdraw (Disable/Enable) <input type="checkbox"
                                                                                     name="enable_btc_withdraw"
                                                                                     [(ngModel)]="sysSettings.enable_btc_withdraw">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                            <label class="font-size-17">
                                                ETH Withdraw (Disable/Enable) <input type="checkbox"
                                                                                     name="enable_eth_withdraw"
                                                                                     [(ngModel)]="sysSettings.enable_eth_withdraw">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="togglebutton col-md-12" style="margin-top: 20px;">
                                            <label class="font-size-17">
                                                BT9 Withdraw (Disable/Enable) <input type="checkbox"
                                                                                     name="enable_bt9_withdraw"
                                                                                     [(ngModel)]="sysSettings.enable_bt9_withdraw">
                                            </label>
                                        </div>
                                    </div>
                                    <!--<div class="row">-->
                                        <!--<div class="togglebutton col-md-12" style="margin-top: 20px;">-->
                                            <!--<label class="font-size-17">-->
                                                <!--BTC Wallet (Test Mode/Real Mode) <input type="checkbox"-->
                                                                                        <!--name="btc_wallet_mode"-->
                                                                                        <!--[(ngModel)]="sysSettings.btc_wallet_mode">-->
                                            <!--</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label class="col-md-6 label-on-left">Volume Withdraw per Day for BTC</label>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>
                                                <input type="number" step="0.01" class="form-control"
                                                       name="withdraw_btc_volume_day"
                                                       [(ngModel)]="sysSettings.withdraw_btc_volume_day">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-6 label-on-left">Volume Withdraw per Month for BTC</label>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>
                                                <input type="number" step="0.01" class="form-control"
                                                       name="withdraw_btc_volume_month"
                                                       [(ngModel)]="sysSettings.withdraw_btc_volume_month">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-6 label-on-left">Volume Withdraw per Day for ETH</label>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>
                                                <input type="number" step="0.01" class="form-control"
                                                       name="withdraw_eth_volume_day"
                                                       [(ngModel)]="sysSettings.withdraw_eth_volume_day">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-6 label-on-left">Volume Withdraw per Month for ETH</label>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>
                                                <input type="number" step="0.01" class="form-control"
                                                       name="withdraw_eth_volume_month"
                                                       [(ngModel)]="sysSettings.withdraw_eth_volume_month">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-6 label-on-left">Volume Withdraw per Day for BT9</label>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>
                                                <input type="number" step="0.01" class="form-control"
                                                       name="withdraw_myaltcoin_volume_day"
                                                       [(ngModel)]="sysSettings.withdraw_myaltcoin_volume_day">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-6 label-on-left">Volume Withdraw per Month for BT9</label>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>
                                                <input type="number" step="0.01" class="form-control"
                                                       name="withdraw_myaltcoin_volume_month"
                                                       [(ngModel)]="sysSettings.withdraw_myaltcoin_volume_month">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="settings.getUserSetting('permission') == 1">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6">
                                            <div class="form-group form-button">
                                                <button type="button" class="btn btn-info"
                                                        (click)="saveWalletSetting()">Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h4 class="card-title">Bonus For MLM</h4>
                            <form class="form-horizontal">
                                <div class="row" *ngFor="let bonus of bonusLists; let i= index">
                                    <label class="col-md-3 label-on-left">Level {{i+1}}</label>
                                    <div class="col-md-9">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="0.1" class="form-control" name="level{{i+1}}"
                                                   [(ngModel)]="bonus.bonus">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="settings.getUserSetting('permission') == 1">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-9">
                                        <div class="form-group form-button">
                                            <button type="button" class="btn btn-info" (click)="saveBonus()">Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h4 class="card-title">Fee Setting</h4>
                            <form class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-5 label-on-left">Withdraw for BTC (%)</label>
                                    <div class="col-md-7">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="0.1" class="form-control" name="withdraw_btc_fee"
                                                   [(ngModel)]="sysSettings.withdraw_btc_fee">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-5 label-on-left">Withdraw for ETH (%)</label>
                                    <div class="col-md-7">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="0.1" class="form-control" name="withdraw_eth_fee"
                                                   [(ngModel)]="sysSettings.withdraw_eth_fee">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-5 label-on-left">Withdraw for BT9 (%)</label>
                                    <div class="col-md-7">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="0.1" class="form-control" name="withdraw_bt9_fee"
                                                   [(ngModel)]="sysSettings.withdraw_bt9_fee">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-5 label-on-left">Exchange Buy (%)</label>
                                    <div class="col-md-7">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="0.1" class="form-control" name="exchange_buy_fee"
                                                   [(ngModel)]="sysSettings.exchange_buy_fee">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-5 label-on-left">Exchange Sell (%)</label>
                                    <div class="col-md-7">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="0.1" class="form-control"
                                                   name="exchange_sell_fee"
                                                   [(ngModel)]="sysSettings.exchange_sell_fee">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="settings.getUserSetting('permission') == 1">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-9">
                                        <div class="form-group form-button">
                                            <button type="button" class="btn btn-info" (click)="saveFeeSetting()">Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h4 class="card-title">Recaptcha Setting</h4>
                            <form class="form-horizontal">
                                <div class="togglebutton" style="margin-top: 20px;">
                                    <label class="font-size-17">
                                        Login Recaptcha <input type="checkbox" name="login_recaptcha"
                                                               [(ngModel)]="sysSettings.login_recaptcha">
                                    </label>
                                </div>
                                <div class="togglebutton" style="margin-top: 20px;">
                                    <label class="font-size-17">
                                        Register Recaptcha <input type="checkbox" name="register_recaptcha"
                                                                  [(ngModel)]="sysSettings.register_recaptcha">
                                    </label>
                                </div>
                                <div class="togglebutton" style="margin-top: 20px;">
                                    <label class="font-size-17">
                                        ICO Recaptcha <input type="checkbox" name="register_recaptcha"
                                                             [(ngModel)]="sysSettings.ico_recaptcha">
                                    </label>
                                </div>
                                <div class="row" *ngIf="settings.getUserSetting('permission') == 1">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-9">
                                        <div class="form-group form-button">
                                            <button type="button" class="btn btn-info"
                                                    (click)="saveRecaptchaSetting()">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h4 class="card-title">Exchange Setting</h4>
                            <form class="form-horizontal">
                                <div class="togglebutton" style="margin-top: 20px;">
                                    <label class="font-size-17">
                                        BTC Exchange<input type="checkbox" name="enable_btc_exchange"
                                                               [(ngModel)]="sysSettings.enable_btc_exchange">
                                    </label>
                                </div>
                                <div class="togglebutton" style="margin-top: 20px;">
                                    <label class="font-size-17">
                                        ETH Exchange<input type="checkbox" name="enable_btc_exchange"
                                                                  [(ngModel)]="sysSettings.enable_eth_exchange">
                                    </label>
                                </div>
                                <div class="row" *ngIf="settings.getUserSetting('permission') == 1">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-9">
                                        <div class="form-group form-button">
                                            <button type="button" class="btn btn-info"
                                                    (click)="saveExchangeSetting()">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h4 class="card-title">Staking Setting</h4>
                            <form class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-4 label-on-left">Locked Days</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="1" class="form-control" name="staking_locked_days"
                                                   [(ngModel)]="sysSettings.staking_locked_days">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-4 label-on-left">Interest Month (%)</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="1" class="form-control" name="staking_interest_month"
                                                   [(ngModel)]="sysSettings.staking_interest_month">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-4 label-on-left">Minimum Amount(BT9)</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="1" class="form-control" name="staking_minimum_amount"
                                                   [(ngModel)]="sysSettings.staking_minimum_amount">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="settings.getUserSetting('permission') == 1">
                                    <label class="col-md-4"></label>
                                    <div class="col-md-8">
                                        <div class="form-group form-button">
                                            <button type="button" class="btn btn-info"
                                                    (click)="saveStakingSetting()">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h4 class="card-title">Lending Setting</h4>
                            <form class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-4 label-on-left">Daily Interest Min(%)</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="0.01" class="form-control" name="lending_interest_min"
                                                   [(ngModel)]="sysSettings.lending_interest_min">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-4 label-on-left">Daily Interest Max(%)</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="number" step="0.01" class="form-control" name="lending_interest_max"
                                                   [(ngModel)]="sysSettings.lending_interest_max">
                                        </div>
                                    </div>
                                </div>

                                <div class="row" *ngIf="settings.getUserSetting('permission') == 1">
                                    <label class="col-md-4"></label>
                                    <div class="col-md-8">
                                        <div class="form-group form-button">
                                            <button type="button" class="btn btn-info"
                                                    (click)="saveLendingSetting()">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h4 class="card-title">BT9 RPC Setting</h4>
                            <form class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-4 label-on-left">RPC Server</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="bt9_rpcserver"
                                                   [(ngModel)]="sysSettings.bt9_rpcserver">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-4 label-on-left">RPC User</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="bt9_rpcuser"
                                                   [(ngModel)]="sysSettings.bt9_rpcuser">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-4 label-on-left">RPC Password</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="password" class="form-control" name="bt9_rpcpassword"
                                                   [(ngModel)]="sysSettings.bt9_rpcpassword">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-4 label-on-left">RPC Port</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="bt9_rpcport"
                                                   [(ngModel)]="sysSettings.bt9_rpcport">
                                        </div>
                                    </div>
                                </div>

                                <div class="row" *ngIf="settings.getUserSetting('permission') == 1">
                                    <label class="col-md-4"></label>
                                    <div class="col-md-8">
                                        <div class="form-group form-button">
                                            <button type="button" class="btn btn-info"
                                                    (click)="saveBT9RPCSetting()">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h4 class="card-title">BTC RPC Setting</h4>
                            <form class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-4 label-on-left">RPC Server</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="bt9_rpcserver"
                                                   [(ngModel)]="sysSettings.btc_rpcserver">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-4 label-on-left">RPC User</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="bt9_rpcuser"
                                                   [(ngModel)]="sysSettings.btc_rpcuser">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-4 label-on-left">RPC Password</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="password" class="form-control" name="bt9_rpcpassword"
                                                   [(ngModel)]="sysSettings.btc_rpcpassword">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-4 label-on-left">RPC Port</label>
                                    <div class="col-md-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" name="bt9_rpcport"
                                                   [(ngModel)]="sysSettings.btc_rpcport">
                                        </div>
                                    </div>
                                </div>

                                <div class="row" *ngIf="settings.getUserSetting('permission') == 1">
                                    <label class="col-md-4"></label>
                                    <div class="col-md-8">
                                        <div class="form-group form-button">
                                            <button type="button" class="btn btn-info"
                                                    (click)="saveBTCRPCSetting()">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
