.table {
  tr {
    cursor: pointer;
  }
}

pre {
  box-shadow: none;
}

.border-right-1 {
  //border-right: 1px solid;
}
.border-bottom-1 {
  border-bottom: 1px solid;
}

.table-active {
  background-color: rgba(0,0,0,.075)
}