<div class="main-content" *ngIf="settings.getSysSetting('enable_support') == 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    Support is disabled.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content" *ngIf="settings.getSysSetting('enable_support') == 1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">My Ticket</h4>
                    </div>
                    <div class="card-content">
                        <div>
                            <button type="button" class="btn btn-info" (click)="submitTicket()">
                                Submit a Ticket
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Ticket ID</th>
                                            <th>Status</th>
                                            <th>Title</th>
                                            <th>Last User</th>
                                            <th style="width: 200px;">Last Update</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let ticket of tickets" [ngClass]="{'table-active': ticket.status == 2}" (click)="showTicket(ticket)">
                                            <td>{{ticket.id}}</td>
                                            <td>
                                                <!--<label class="label label-sm text-uppercase"-->
                                                <!--[ngClass]="{'label-info': ticket.status==0, 'label-warning': ticket.status==1, 'label-success': ticket.status==2 }">-->
                                                {{ ticket.status == 0 ? 'NEW' : (ticket.status == 1 ? 'OPEN' : 'CLOSED')}}
                                                <!--</label>-->
                                            </td>
                                            <td>{{ticket.title}}</td>
                                            <td>{{ticket.last_user}}</td>
                                            <td style="width: 200px;">{{ticket.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        </tr>
                                        <tr *ngIf="tickets?.length == 0">
                                            <td class="text-center" colspan="5">
                                                No Ticket
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="file" name="file" class="form-control" id="attachFile" (change)="fileChangeListener($event)" style="display: none;">
        <div class="row" *ngIf="isNew">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Title</label>
                                    <textarea class="form-control" rows="3" id="ticket_title" name="title"
                                              [(ngModel)]="ticket.title"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Message</label>
                                    <textarea class="form-control" rows="10" name="message"
                                              [(ngModel)]="ticket.message"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="pull-left">
                                        {{ticket.attach_name}}
                                    </div>
                                    <button type="button" class="btn btn-primary pull-right" (click)="onAttachFile()">Add Attach File</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-info" (click)="sendTicket()">
                                        Send
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="details?.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <pre>
                                <h3 class="card-title">{{ticket.title}}</h3>
                            </pre>
                            <p>
                                Created: {{ticket.created_at | date: 'dd MMMM yyyy HH:mm'}}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Updated: {{ticket.updated_at | date: 'dd MMMM yyyy HH:mm'}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3" *ngIf="ticket.status != 2">
                <div class="col-md-12">
                    <button type="button" class="btn btn-success" (click)="onReply()">
                        Reply
                    </button>
                </div>
            </div>

            <div class="row" *ngIf="isReply">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Message</label>
                                        <textarea class="form-control" rows="10" name="message"
                                                  [(ngModel)]="ticket.message"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="pull-left">
                                            {{ticket.attach_name}}
                                        </div>
                                        <button type="button" class="btn btn-primary pull-right" (click)="onAttachFile()">Add Attach File</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-info" (click)="sendTicket()">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngFor="let detail of details;">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-3 border-right-1">
                                    <p>{{detail.username}}</p>
                                </div>
                                <div class="col-md-9">
                                    <p class="border-bottom-1">
                                        Posted on  {{detail.created_at | date: 'dd MMMM yyyy HH:mm'}}
                                    </p>
                                    <pre>{{detail.message}}</pre>
                                    <p *ngIf="detail.attach_name != ''">
                                        <a target="_blank" href="{{detail.attach_url}}">{{detail.attach_name}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
