<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/">MYALTCOIN</a>
            </div>
            <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/register">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                    <li class=" active ">
                        <a href="/login">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black">
        <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form class="form-horizontal" [formGroup]="reset">
                            <div class="card card-login">
                                <div class="card-header text-center">
                                    <h4 class="card-title">MyAltCoin</h4>
                                </div>
                                <p class="category text-center">
                                    Reset Password
                                </p>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating" [ngClass]="validate.displayFieldCss(reset, 'password')">
                                            <label class="control-label">Password</label>
                                            <input type="password"
                                                   name="password"
                                                   class="form-control"
                                                   formControlName="password"
                                                   [(ngModel)]="user.password">
                                            <app-field-error-display [displayError]="validate.isFieldValid(reset, 'password')" errorMsg="Password is required.">
                                            </app-field-error-display>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating" [ngClass]="validate.displayFieldCss(reset, 'confirmPassword')">
                                            <label class="control-label">Confirm Password</label>
                                            <input type="password"
                                                    class="form-control"
                                                    name="confirmPassword"
                                                    formControlName="confirmPassword">
                                            <app-field-error-display
                                                    [displayError]="validate.isFieldValid(reset, 'confirmPassword')" errorMsg="These passwords don't match. Try again!">
                                            </app-field-error-display>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button class="btn btn-success" (click)="onResetPassword()">Reset Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-right">
                    &copy; 2017, All Rights Reserved
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url(../../assets/img/login.jpeg) "></div>
    </div>
</div>
