<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/">BT9COIN</a>
            </div>
            <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/register">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                    <li class=" active ">
                        <a href="/login">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black">
        <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form class="form-horizontal" [formGroup]="login">
                            <div class="card card-login">
                                <div class="card-header text-center">
                                    <h4 class="card-title">BT9Coin</h4>
                                </div>
                                <p class="category text-center">
                                    Login to your dream
                                </p>
                                <p class="text-danger text-center" *ngIf="unconfirmed == 1">
                                    Your account is not active. Please go to your email and active account. If not receive, please check in spam box or resend email active.
                                </p>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating" [ngClass]="validate.displayFieldCss(login, 'email')">
                                            <label class="control-label">Email address</label>
                                            <input type="email" name="email" class="form-control" formControlName="email" [(ngModel)]="user.email">
                                            <app-field-error-display [displayError]="validate.isFieldValid(login, 'email')" errorMsg="Email is required and format should be john@doe.com.">
                                            </app-field-error-display>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating" [ngClass]="validate.displayFieldCss(login, 'password')">
                                            <label class="control-label">Password</label>
                                            <input type="password"
                                                   name="password"
                                                   class="form-control"
                                                   formControlName="password"
                                                   [(ngModel)]="user.password">
                                            <app-field-error-display [displayError]="validate.isFieldValid(login, 'password')" errorMsg="Password is required.">
                                            </app-field-error-display>
                                        </div>
                                    </div>
                                    <div class="text-center captcha" style="margin-top: 20px; margin-left: 30px;" *ngIf="sysSettings.login_recaptcha == 1">
                                        <re-captcha site_key="6LdPjjoUAAAAADOGFhnrLXE1wvQc7ALjqJn03MLw" (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button class="btn btn-success" (click)="onLogin()" *ngIf="!loging">Login
                                    </button>
                                    <loader *ngIf="loging"></loader>
                                    <div class="text-center text-rose login-help">
                                        <a (click)="forgot()">Forgot Your Password</a>
                                        <br>
                                        <a (click)="resend()">Resend activation link</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-right">
                    &copy; 2018, All Rights Reserved
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url(../../assets/img/login.jpeg) "></div>
    </div>
</div>

<modal-dialog [(visible)]="showAuthModal">
    <form class="form-horizontal">
        <h2>
            INPUT YOUR AUTHENTICATOR CODE
        </h2>
        <input type="text" class="form-control" style="text-align: center; font-size: 20px;" name="authCode" [(ngModel)]="authCode">

        <div class="swal2-validationerror" style="display: block;" *ngIf="!codeMatch">The two-factor authentication code you specified is incorrect. Please install Google Authentication and add the two-factor code</div>

        <div class="text-center" style="margin-top: 20px;">
            <button type="button" class="btn btn-primary" (click)="submitCode()">Submit</button>
            <button type="button" class="btn btn-default" (click)="showAuthModal = !showAuthModal">Cancel</button>
        </div>
    </form>
</modal-dialog>

<modal-dialog [(visible)]="showMailModal" [closable]="false">
    <form class="form-horizontal">
        <h2 class="text-center">
            INPUT YOUR EMAIL
        </h2>
        <input type="text" class="form-control" style="text-align: center; font-size: 20px;" name="confirm_email" [(ngModel)]="confirm_email">

        <div class="swal2-validationerror text-center text-danger" style="display: block;" *ngIf="error != ''">{{error}}</div>

        <div class="text-center" style="margin-top: 20px;" *ngIf="!sendingEmail">
            <button type="button" class="btn btn-primary" (click)="submitEmail()">Submit</button>
            <button type="button" class="btn btn-default" (click)="showMailModal = !showMailModal">Cancel</button>
        </div>
        <loader *ngIf="sendingEmail"></loader>
    </form>
</modal-dialog>