<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <ul class="nav nav-pills nav-menu-security nav-pills-warning">
                            <li class="active">
                                <a data-toggle="tab" href="#open">Open Tickets</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#close">Closed Tickets</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="open" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table" id="opentable">
                                        <thead>
                                        <tr>
                                            <th style="width: 150px;">Ticket ID</th>
                                            <th>TITLE</th>
                                            <th>LAST USER</th>
                                            <th style="width: 200px;">LAST UPDATE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let ticket of openTickets; let i=index;"
                                            [ngClass]="{'table-active': ticket.last_user == 'Admin'}"
                                            (click)="showTicket(ticket)">
                                            <td  style="width: 150px;">{{ticket.id}}</td>
                                            <td>{{ticket.title}}</td>
                                            <td>{{ticket.last_user}}</td>
                                            <td style="width: 200px;">{{ticket.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                            </td>
                                        </tr>
                                        <tr *ngIf="openTickets?.length == 0">
                                            <td class="text-center" colspan="5">
                                                No Open Ticket
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="close" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table" id="closetable">
                                        <thead>
                                        <tr>
                                            <th style="width: 150px;">Ticket ID</th>
                                            <th>TITLE</th>
                                            <th>LAST USER</th>
                                            <th style="width: 200px;">LAST UPDATE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let ticket of closeTickets" (click)="showTicket(ticket)">
                                            <td  style="width: 150px;">{{ticket.id}}</td>
                                            <td>{{ticket.title}}</td>
                                            <td>{{ticket.last_user}}</td>
                                            <td style="width: 200px;">{{ticket.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}
                                            </td>
                                        </tr>
                                        <tr *ngIf="closeTickets?.length == 0">
                                            <td class="text-center" colspan="4">
                                                No Closed Ticket
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>