<div class="main-content" *ngIf="settings.getSysSetting('enable_lending') == 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    Lending is disabled.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content" *ngIf="settings.getSysSetting('enable_lending') == 1">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Lending Capital</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <label class="col-md-5 label-on-right"><h4>Locked Capital</h4></label>
                            <div class="col-md-7">
                                <h4>{{lendingBalance.locked_amount | number:'1.0-8'}} USD</h4>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-5 label-on-right"><h4>Total Unlocked Capital</h4></label>
                            <div class="col-md-7">
                                <h4>{{lendingBalance.unlocked_amount | number:'1.0-8'}} USD</h4>
                            </div>
                        </div>
                        <!--<div class="row">-->
                            <!--<label class="col-md-5 label-on-right"><h4>Capital Withdrawn</h4></label>-->
                            <!--<div class="col-md-7">-->
                                <!--<h4>{{lendingBalance.transfer_amount | number:'1.0-8'}} USD</h4>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="row">
                            <label class="col-md-5 label-on-right"><h4>Availabe Balance</h4></label>
                            <div class="col-md-7">
                                <h4>{{lendingBalance.unlocked_amount - lendingBalance.transfer_amount | number:'1.0-8'}} USD</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <button type="button" class="btn btn-info" (click)="transferLending()">
                                    Transfer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Lending Wallet Balance</h4>
                    </div>
                    <div class="card-content">
                        <div class="text-center">
                            <h4>{{dailyBalance.amount - dailyBalance.transfer_amount | number:'1.0-2'}} USD</h4>
                        </div>
                        <!--<div class="row">-->
                            <!--<label class="col-md-5 label-on-right">-->
                                <!--<h4>Total Daily Interest Amount</h4>-->
                            <!--</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<h4>{{dailyBalance.amount | number:'1.0-8'}} USD</h4>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<label class="col-md-5 label-on-right">-->
                                <!--<h4>Interest Withdrawn</h4>-->
                            <!--</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<h4>{{dailyBalance.transfer_amount | number:'1.0-8'}} USD</h4>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<label class="col-md-5 label-on-right">-->
                                <!--<h4>Availabe Balance</h4>-->
                            <!--</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<h4>{{dailyBalance.amount - dailyBalance.transfer_amount | number:'1.0-8'}} USD</h4>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <button type="button" class="btn btn-info" (click)="transferDaily()">
                                    Transfer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let interest of interests; let i=index;" class="col-md-2">
                <div class="card card-stats" [ngClass]="{'font-bold': i == 0}">
                    <div class="card-content">
                        <p class="category text-left">{{interest.date | date:'dd, MMMM, yyyy'}}</p>
                        <h3 class="card-title">{{interest.value | number:'1.2-2'}}%</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Buy Lending</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-content" style="margin: 5%;">
                                    <div class="text-center">
                                        <h4>Enter Amount USD</h4>
                                        <label>Exchange Rate: 1 BT9 = {{token_usd | number:'1.0-2'}} USD</label>
                                        <form action="#" method="#" novalidate=""
                                              class="ng-untouched ng-pristine ng-valid">
                                            <div class="form-group label-floating">
                                                <label class="control-label label-amount">Amount USD</label>
                                                <input class="form-control input-amount ng-untouched ng-pristine ng-valid"
                                                       [(ngModel)]="usdAmount" name="amount" required="" type="text">
                                                <!--<div class="text-left">-->
                                                <!--<small class="text-black">Minimum USD: 100</small>-->
                                                <!--</div>-->

                                                <div style="padding-top: 10px;">
                                                    <p><b> = {{usdAmount * usd_token | number:'1.8-8'}} BT9</b></p>
                                                </div>

                                                <div class="all-btn">
                                                    <button class="btn btn-info btn-xs" (click)="allBT9()">ALL BT9
                                                    </button>
                                                </div>
                                            </div>
                                            <div style="margin-top: 7px;">
                                                <p>
                                                    <small>Volatility daily<b *ngIf="getDaily() > 0"> +{{getDaily() |
                                                        number:'1.2-2'}}%</b></small>
                                                </p>
                                                <p>
                                                    <small>Capital Back After<b *ngIf="getAfter() > 0"> {{getAfter()}}
                                                        Days</b></small>
                                                </p>
                                            </div>
                                            <button class="btn btn-fill btn-info" type="button"
                                                    (click)="buyLending()">Buy with BT9 Wallet
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div>
                                    <h4 class="card-title">BT9Coin Lending Interest</h4>
                                    <div class="table-responsive">
                                        <table class="table table-center">
                                            <thead class="text-primary">
                                            <tr>
                                                <th>Lending Amount</th>
                                                <th>Interest</th>
                                                <th>Volatility daily</th>
                                                <th>Capital Back After</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let setting of lendingSettings">
                                                <td><i class="fa fa-usd"></i>{{setting.min | number:'1.0-0'}} to <i
                                                        class="fa fa-usd"></i> {{setting.max | number:'1.0-0'}}
                                                </td>
                                                <td>Up to {{setting.interest | number:'1.0-0'}}% per month</td>
                                                <td>+{{setting.daily | number:'1.2-2'}}% daily</td>
                                                <td>{{setting.after | number:'1.0-0'}} days</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bs-component">
                                    <div class="panel-group accordion">
                                        <div class="panel mbn" style="border: 1px solid #c2c8d8;">
                                            <div class="panel-heading" style="height: auto">
                                                <p style="border-radius: 0px;background-color:transparent;color:black">
                                                    Your Lending
                                                </p>
                                            </div>
                                            <div class="panel-collapse collapse in "
                                                 style="background-color: white">
                                                <div class="table-responsive">
                                                    <table cellspacing="0"
                                                           class="table table-striped table-hover table-condensed text-black "
                                                           width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Amount</th>
                                                            <th>Date</th>
                                                            <th>Finish Date</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let lending of lendings; let i=index">
                                                            <td>{{i+1}}</td>
                                                            <td>{{lending.dest_amount | number:'1.0-2'}}</td>
                                                            <td>{{lending.date | date:'yyyy-MM-dd'}}</td>
                                                            <td>{{lending.finish_date | date:'yyyy-MM-dd'}}</td>
                                                        </tr>
                                                        <!---->
                                                        <tr *ngIf="lendings?.length == 0">
                                                            <td class="text-center" colspan="4">
                                                                No Lending found.
                                                            </td>
                                                        </tr>
                                                        <!---->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal-dialog [(visible)]="showTransferModal" [closable]="false">
    <form class="form-horizontal">
        <h3 class="text-center">
            INPUT AMOUNT
        </h3>
        <div class="row">
            <div class="col-md-12 text-center">
                <label>Exchange Rate: 1 USD = {{usd_token | number:'1.8-8'}} BT9</label>
            </div>
        </div>

        <input type="text" class="form-control" style="text-align: center; font-size: 20px;" name="transfer_amount" [(ngModel)]="transfer_amount">

        <p class="text-center"><b> = {{transfer_amount * usd_token | number:'1.8-8'}} BT9</b></p>

        <div class="text-center" style="margin-top: 20px;">
            <button type="button" class="btn btn-primary" (click)="submitTransfer()">Submit</button>
            <button type="button" class="btn btn-default" (click)="showTransferModal = !showTransferModal">Cancel</button>
        </div>
    </form>
</modal-dialog>