<div class="main-content">
    <div class="container-fluid" *ngIf="settings.getSysSetting('enable_btc_exchange') == 0">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    BITCOIN Exchange is disabled.
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="settings.getSysSetting('enable_btc_exchange') == 1">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">timeline</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Market Price<br>
                            <small>(BT9/BTC)</small>
                        </h4>
                    </div>
                    <div class="exchange-info" style="padding-left: 15px; padding-right: 15px;">
                        <div class="row">
                            <div class="col-md-1">
                                LAST
                            </div>
                            <div class="text-success col-md-3" >
                                {{exchangeInfo.lastPrice | number:'1.8-8'}} BTC (${{(exchangeInfo.lastPrice * btc_usd) | number:'1.2-2'}} )
                            </div>
                            <div class="col-md-1">
                                LAST BID
                            </div>
                            <div class="text-success col-md-3" >
                                {{exchangeInfo.lastBid | number:'1.8-8'}} BTC (${{(exchangeInfo.lastBid * btc_usd) | number:'1.2-2'}} )
                            </div>
                            <div class="col-md-1">
                                24H HIGH
                            </div>
                            <div class="text-success col-md-3" >
                                {{exchangeInfo.high | number:'1.8-8'}} BTC (${{(exchangeInfo.high * btc_usd) | number:'1.2-2'}} )
                            </div>
                            <div class="col-md-1">
                                24H VOL
                            </div>
                            <div class="text-success col-md-3" >
                                {{exchangeInfo.volume | number:'1.8-8'}} BTC (${{(exchangeInfo.volume * btc_usd) | number:'1.2-2'}} )
                            </div>
                            <div class="col-md-1">
                                LAST ASK
                            </div>
                            <div class="text-success col-md-3" >
                                {{exchangeInfo.lastAsk | number:'1.8-8'}} BTC (${{(exchangeInfo.lastAsk * btc_usd) | number:'1.2-2'}} )
                            </div>
                            <div class="col-md-1">
                                24H LOW
                            </div>
                            <div class="text-success col-md-3" >
                                {{exchangeInfo.low | number:'1.8-8'}} BTC (${{(exchangeInfo.low * btc_usd) | number:'1.2-2'}} )
                            </div>
                        </div>
                    </div>
                    <div id="marketchart" [chart]="stockChart" class="ct-chart"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="fa fa-plus"></i>
                    </div>
                    <form class="form-horizontal">
                        <div class="card-content">
                            <h4 class="card-title">Buy BT9</h4>
                            <div class="text-center">
                                Available balance: <b>{{settings.getUserSetting('btc_balance') | number:'1.8-8'}}</b>
                                BTC
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-left">Units</label>
                                <div class="col-md-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="number" class="form-control" name="amount" step="0.00001"
                                               [(ngModel)]="buy.amount">
                                        <span class="help-block">BT9</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-left">Bid</label>
                                <div class="col-md-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="number" class="form-control" name="rate" [(ngModel)]="buy.rate"
                                               step="0.00001">
                                        <span class="help-block">BTC/BT9</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-left">Total</label>
                                <div class="col-md-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" name="total" readonly
                                               value="{{(buy.amount * buy.rate ? buy.amount * buy.rate : 0) | number: '1.8-8'}}">
                                        <span class="help-block">BTC</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-left">Fee</label>
                                <label class="col-md-10 label-on-right">{{settings.getSysSetting('exchange_buy_fee') |
                                    number:'1.0-2'}}%</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <button type="button" class="btn btn-info pull-right" (click)="newBuyOrder()"
                                            *ngIf="!buyloading"><i class="fa fa-plus"></i>
                                        Buy BT9Coin
                                    </button>
                                </div>
                                <loader *ngIf="buyloading"></loader>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="fa fa-minus"></i>
                    </div>

                    <form class="form-horizontal">
                        <div class="card-content">
                            <h4 class="card-title">Sell BT9</h4>
                            <div class="text-center">
                                Available balance: <b>{{settings.getUserSetting('token_balance') | number:'1.8-8'}}</b>
                                BT9
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-left">Units</label>
                                <div class="col-md-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="number" class="form-control" name="amount" step="0.00001"
                                               [(ngModel)]="sell.amount">
                                        <span class="help-block">BT9</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-left">Ask</label>
                                <div class="col-md-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="number" class="form-control" name="rate" [(ngModel)]="sell.rate"
                                               step="0.00001">
                                        <span class="help-block">BTC/BT9</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-left">Total</label>
                                <div class="col-md-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" name="total" readonly
                                               value="{{(sell.amount * sell.rate ? sell.amount * sell.rate : 0) | number: '1.8-8'}}">
                                        <span class="help-block">BTC</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 label-on-left">Fee</label>
                                <label class="col-md-10 label-on-right">{{settings.getSysSetting('exchange_sell_fee') |
                                    number:'1.0-2'}}%</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <button type="button" class="btn btn-info pull-right" (click)="newSellOrder()"
                                            *ngIf="!sellloading"><i class="fa fa-minus"></i>
                                        Sell BT9Coin
                                    </button>
                                    <loader *ngIf="sellloading"></loader>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header card-header-icon" data-background-color="default">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <h4>Buying Orders</h4>
                        </div>
                        <div class="table-responsive height-500">
                            <table class="table color-table success-table table-hover table-right">
                                <thead>
                                <tr>
                                    <th>Total(BTC)</th>
                                    <th>Size(BT9)</th>
                                    <th>Bid(BTC)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let order of buyOrders; let i = index;" (click)="onClickBuyOrder(i)">
                                    <td class="text-right">{{order.amount * order.rate | number:'1.8-8'}}</td>
                                    <td class="text-right">{{order.amount | number:'1.8-8'}}</td>
                                    <td class="text-right">{{order.rate | number:'1.8-8'}}</td>
                                </tr>
                                <tr *ngIf="buyOrders?.length == 0">
                                    <td style="text-align: center !important;" colspan="3">
                                        No Sell Orders
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="default">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <h4>Selling Orders</h4>
                        </div>

                        <div class="table-responsive height-500">
                            <table class="table color-table success-table table-hover table-right">
                                <thead>
                                <tr>
                                    <th>Total(BTC)</th>
                                    <th>Size(BT9)</th>
                                    <th>Bid(BTC)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let order of sellOrders; let i = index;" (click)="onClickSellOrder(i)">
                                    <td class="text-right">{{order.amount * order.rate | number:'1.8-8'}}</td>
                                    <td class="text-right">{{order.amount | number:'1.8-8'}}</td>
                                    <td class="text-right">{{order.rate | number:'1.8-8'}}</td>
                                </tr>
                                <tr *ngIf="sellOrders?.length == 0">
                                    <td style="text-align: center !important;" colspan="3">
                                        No Buy Orders
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="fa fa-history"></i>
                    </div>


                    <div class="card-content">
                        <div class="card-title">
                            <h4>Market History</h4>
                        </div>
                        <ul class="nav nav-pills nav-menu-security nav-pills-warning">
                            <li class="active">
                                <a data-toggle="tab" href="#open">Open Orders</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#past">History</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="open">
                                <div class="table-responsive height-500">
                                    <table class="table color-table success-table table-hover table-center">
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th style="width: 200px;">Time</th>
                                            <th>Amount</th>
                                            <th>Ask/Bid</th>
                                            <th>Total Price</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let order of openOrders">
                                            <td class="text-center"><label class="label label-sm"
                                                                           [ngClass]="{'label-success': order.type == 0, 'label-info': order.type == 1}">{{order.type
                                                == 0 ? 'BUY' : 'SELL'}}</label></td>
                                            <td style="width: 200px;" class="text-center">{{order.created_at |
                                                date:'yyyy-MM-dd H:m:s'}}
                                            </td>
                                            <td class="text-center">{{order.amount | number:'1.8-8'}}</td>
                                            <td class="text-center">{{order.rate | number:'1.8-8'}}</td>
                                            <td class="text-center">{{order.amount * order.rate | number:'1.8-8'}}</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm btn-danger"
                                                        (click)="cancelOrder(order.id)">
                                                    <i class="fa fa-close"></i></button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="openOrders?.length == 0">
                                            <td class="text-center" colspan="6">
                                                No Open Orders
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="past">
                                <div class="table-responsive height-500">
                                    <table class="table color-table success-table table-hover table-center">
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th style="width: 200px;">Time</th>
                                            <th>Units</th>
                                            <th>Bid/Ask</th>
                                            <th>Total Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let order of pastOrders">
                                            <td><label class="label label-sm"
                                                       [ngClass]="{'label-success': order.exchange_type == 0, 'label-info': order.exchange_type == 1}">
                                                {{order.exchange_type == 0 ? 'BUY' : 'SELL'}}</label>
                                            </td>
                                            <td style="width: 200px;">{{order.created_at | date:'yyyy-MM-dd H:m:s'}}
                                            </td>
                                            <td>{{order.exchange_type == 0 ? order.dest_amount : order.src_amount |
                                                number:'1.8-8'}}
                                            </td>
                                            <td>{{order.rate | number:'1.2-2'}}</td>
                                            <td>{{order.exchange_type == 0 ? order.src_amount : order.dest_amount |
                                                number:'1.8-8'}}
                                            </td>
                                        </tr>
                                        <tr *ngIf="pastOrders?.length == 0">
                                            <td class="text-center" colspan="5">
                                                No Orders
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
