.height-500 {
  min-height: 450px;
  max-height: 450px;
  overflow-y: auto;
  .table-responsive {
    overflow-x: auto;
  }
}
.table-right {
  th, td {
    text-align: right !important;
  }
}

.table-center {
  th, td {
    text-align: center !important;
  }
}