<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">ICO Agenda</h4>
                        <div *ngIf="settings.getUserSetting('permission') == 1">
                            <a class="btn btn-info btn-round" (click)="onAdd()"><i class="fa fa-plus"></i></a>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Total BT9</th>
                                    <th class="text-center">Price(USD)</th>
                                    <th class="text-center">Limit per acc</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let agenda of agendas">
                                    <td class="text-center">{{agenda.from | date:'yyyy-MM-dd'}} ~ {{agenda.to | date:'yyyy-MM-dd'}}</td>
                                    <td class="text-center">{{agenda.total | number:'1.0-2'}}</td>
                                    <td class="text-center">{{agenda.price | number:'1.0-2'}}</td>
                                    <td class="text-center">{{agenda.per_account | number:'1.0-2'}}</td>
                                    <td class="text-center">{{agenda.status == 1 ? 'Active' : 'Inactive'}}</td>
                                    <td class="td-actions text-center">
                                        <button type="button" class="btn btn-success btn-round" (click)="onEdit(agenda)" *ngIf="settings.getUserSetting('permission') == 1">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-round" (click)="onDelete(agenda.id)" *ngIf="settings.getUserSetting('permission') == 1">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngIf="agendas?.length == 0">
                                    <td class="text-center" colspan="4">No Agenda</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="material-icons">donut_small</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">ICO History</h4>
                        <div class="table-responsive">
                            <table class="table datatable" id="historytable">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">User</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Coin</th>
                                    <th class="text-center">Coin Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let history of histories; let i=index;">
                                    <td class="text-center">{{i + 1}}</td>
                                    <td class="text-center">{{history.email}}</td>
                                    <td class="text-center">{{history.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td class="text-center">{{history.dest_amount | number:'1.8-8'}}</td>
                                    <td class="text-center">{{history.src_currency}}</td>
                                    <td class="text-center">{{history.src_amount | number:'1.8-8'}}</td>
                                </tr>
                                <tr *ngIf="histories?.length == 0">
                                    <td class="text-center" colspan="5">No History</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal-dialog [(visible)]="showModal" class="card" [closable]="false">
    <h2 class="text-left">
        Input Admin Information
    </h2>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="row">
                    <label class="col-md-3 label-on-left">Date</label>
                    <div class="col-md-9">
                        <mat-datepicker-toggle matSuffix [for]="fromPicker">
                        </mat-datepicker-toggle>
                        <mat-input-container>
                            <input matInput
                                   name="from"
                                   [(ngModel)]="agenda.from"
                                   [matDatepicker]="fromPicker">
                        </mat-input-container>
                        <mat-datepicker
                                #fromPicker
                                [touchUi]="touch"
                                [startView]="'month'">
                        </mat-datepicker>

                        <label>~</label>

                        <mat-datepicker-toggle matSuffix [for]="toPicker">
                        </mat-datepicker-toggle>
                        <mat-input-container>
                            <input matInput
                                   name="to"
                                   [(ngModel)]="agenda.to"
                                   [matDatepicker]="toPicker">
                        </mat-input-container>
                        <mat-datepicker
                                #toPicker
                                [touchUi]="touch"
                                [startView]="'month'">
                        </mat-datepicker>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 label-on-left">Total</label>
                    <div class="col-md-9">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="number" class="form-control" name="total" [(ngModel)]="agenda.total">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 label-on-left">Price(USD)</label>
                    <div class="col-md-9">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="number" class="form-control" step="0.1" name="price" [(ngModel)]="agenda.price">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 label-on-left">Per Account</label>
                    <div class="col-md-9">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="number" class="form-control" name="per_account" [(ngModel)]="agenda.per_account">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 label-on-left">Status</label>
                    <div class="col-md-9">
                        <mat-form-field>
                            <mat-select name="status" [(ngModel)]="agenda.status">
                                <mat-option [value]="0">Inactive</mat-option>
                                <mat-option [value]="1">Active</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <div class="form-group form-button">
                            <button type="button" class="btn btn-fill btn-info" (click)="saveICOAgenda()">Save</button>
                            <button type="button" class="btn btn-fill btn-danger" (click)="showModal = false;">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</modal-dialog>