<nav #navbar class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons visible-on-sidebar-mini">view_list</i>
            </button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{getPath()}}"> {{getTitle()}} </a>
        </div>
        <div class="collapse navbar-collapse">
            <div *ngIf="isMobileMenu() && settings.getUserSetting('role') != 'admin'">
                <div class="navbar-right">
                    <!--<b class=" text-black dib header-wallet">-->
                        <!--<div class="light header-wallet-text"> Lending Balance</div>-->
                        <!--<div class="w100p dib text-black text-center header-wallet-balance-text">-->
                            <!--<i class="fa fa-usd"></i>-->
                            <!--<span id="usd_wallet_balance">-->
                                <!--{{settings.getUserSetting('usd_balance') | number: '1.2-2'}}-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</b>-->
                    <!--<button class="btn btn-success btn-sm btn-nav">&lt;&lt; Exchange &gt;&gt;</button>-->
                    <b class=" text-black dib header-wallet">
                        <div class="light header-wallet-text"> BT9Coin Balance</div>
                        <div class="w100p dib text-black text-center header-wallet-balance-text">
                            <img src="assets/img/B9_black.png" style="height: 18px;">
                            <span id="ethconnect_wallet_balance">
                                {{settings.getUserSetting('token_balance') | number: '1.8-8'}}
                            </span>
                        </div>
                    </b>
                    <!--<button class="btn btn-success btn-sm btn-nav">&lt;&lt; Exchange &gt;&gt;</button>-->
                    <b class=" text-black dib header-wallet">
                        <div class="light header-wallet-text"> Bitcoin Balance</div>
                        <div class="w100p dib text-black text-center header-wallet-balance-text">
                            <i class="fa fa-bitcoin"></i>
                            <span>
                                {{settings.getUserSetting('btc_balance') | number:'1.8-8'}}
                            </span>
                        </div>
                    </b>
                    <b class=" text-black dib header-wallet">
                        <div class="light header-wallet-text"> Ethereum Balance</div>
                        <div class="w100p dib text-black text-center header-wallet-balance-text">
                            <img src="assets/img/eth_29x29.png" style="height: 18px;">
                            <span>
                                {{settings.getUserSetting('eth_balance') | number:'1.8-8'}}
                            </span>
                        </div>
                    </b>
                    <!--<b class=" text-black dib header-wallet">-->
                        <!--<div class="light header-wallet-text"> Ethereum Balance</div>-->
                        <!--<div class="w100p dib text-black text-center header-wallet-balance-text">-->
                            <!--<img src="/assets/img/eth_29x29.png" style="padding-bottom: 3px;height: 20px;">-->
                            <!--<span id="ethereum_wallet_balance">-->
                                <!--0.00000000-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</b>-->
                    <form class="admin-form  form-link-ref  mt5  w70p dib">
                        <div class="form-group mb10" style="margin-right: 5px!important;">
                            <span style="color: #0b0e16;font-size: 13px"><b>Earn by referring new members</b></span><br>
                            <label class="field prepend-icon" style="width: auto">
                                <input class="gui-input gui-input-ref" id="referral-link-header" name="address" value="{{ref_url}}" readonly="" style="min-width: 300px" type="text">
                                <a class="field-icon field-icon-ref" style="display: inline-block!important;" title="Copy your referral link" (click)="copyRefLink()">
                                    <i class="fa fa-link copy-link-ref" style="font-size: 13px!important;"> Copy</i>
                                </a>
                                <span class="link-copied-message" id="link-copied-message"> Link copied</span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
