@media only screen and (max-width: 700px) {
  .header-wallet-balance-text,
  .header-wallet-text {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.header-wallet {
  border: 1px solid #c2c8d8;
  padding: 4px;
  border-radius: 4px
}

@media (max-width: 991px) {
  .header-wallet {
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
}

.header-wallet-balance-text {
  padding-left: 10px;
  padding-right: 10px;
}

.header-wallet-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  padding-top: 0;
}

.text-black {
  color: black !important;
}

.dib {
  display: inline-block;
}

.gui-input-address {
  border: 1px solid rgb(202, 219, 71) !important;
  padding-left: 10px !important;
  font-size: 11px !important;
  padding-right: 82px !important;
  height: 35px !important;
  color: black !important;
}

.gui-input-ref {
  border: 1px solid rgba(51, 122, 183, 0.28) !important;
  padding-left: 10px !important;
  font-size: 11px !important;
  padding-right: 10px !important;
  height: 35px !important;
  color: #626262;
}

@media (max-width: 552px) {
  .gui-input-ref {
    width: 205px !important;
  }

  .form-ref-link {
    margin-left: 0 !important;
  }
}

.admin-form .append-icon .field-icon, .admin-form .prepend-icon .field-icon {
  top: 0;
  z-index: 4;
  width: 42px;
  height: 42px;
  color: inherit;
  line-height: 42px;
  position: absolute;
  text-align: center;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  pointer-events: none;
}

.link-copied-message {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  color: white;
  position: absolute;
  right: 2px;
  top: -5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 9px;
  font-weight: bold;
  display: none;
}

.address-btn-link {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: auto !important;
  background: #cadb47 !important;
  width: auto !important;
  color: black !important;
  padding-top: 13% !important;
  cursor: pointer !important;
  border-radius: 0px 5px 5px 0px !important;
}

.copy-link-ref {
  position: absolute !important;
  margin-top: 21px;
  margin-bottom: 16px;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: auto !important;
  background: #00bcd4 !important;
  width: auto !important;
  color: white !important;
  padding-top: 13% !important;
  cursor: pointer !important;
  font-size: 16px !important;
  border-radius: 0px 5px 5px 0px !important;
}

.field-icon-ref {
  pointer-events: all !important;
  cursor: pointer !important;
  width: 75px !important;
  right: 0 !important;
  left: auto !important;
  bottom: 0 !important;
  height: auto !important;
}

.form-link-ref {
  margin-top: -25px;
}

.pt14 {
  padding-top: 14px !important;
}

.w45p {
  width: 45%;
}
