<div class="logo">
    <div class="logo-normal">
        <!--<a href="" class="simple-text" *ngIf="settings.getUserSetting('role') == 'admin'">-->
        <!--Admin-->
        <!--</a>-->
        <a href="" class="simple-text" style="margin-left: 70px; text-align: left;">
            BT9Coin
        </a>
    </div>

    <div class="logo-img">
        <img src="/assets/img/B9_color.png" />
    </div>
</div>

<div class="sidebar-wrapper">
    <div class="user">
        <div class="photo">
            <img src="assets/img/default-avatar.png"/>
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>
                            {{fullname}}
                            <b class="caret"></b>
                        </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li>
                        <a href="javascript:void(0)" routerLink="/security">
                            <span class="sidebar-mini">SR</span>
                            <span class="sidebar-normal">Security</span>
                            <span class="label label-danger" style="margin-left: 55px; border-radius: 0px;"
                                  *ngIf="settings.getUserSetting('allow_g2f') == 0">LOW</span>
                            <span class="label label-success" style="margin-left: 55px; border-radius: 0px;"
                                  *ngIf="settings.getUserSetting('allow_g2f') == 1">GOOD</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="onLogout()">
                            <span class="sidebar-mini">L</span>
                            <span class="sidebar-normal">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="isMobileMenu()">
    </div>
    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
                <!--If is a single link-->
                <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" (click)="onClickMenu()">
                    <i class="material-icons">{{menuitem.icontype}}</i>
                    <p>{{menuitem.title}}</p>
                </a>
                <!--If it have a submenu-->
                <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'"
                   (click)="updatePS()">
                    <i class="material-icons">{{menuitem.icontype}}</i>
                    <p>{{menuitem.title}}<b class="caret"></b></p>
                </a>

                <!--Display the submenu items-->
                <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                    <ul class="nav">
                        <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
                            <a [routerLink]="[menuitem.path, childitem.path]">
                                <span class="sidebar-mini">{{childitem.ab}}</span>
                                <span class="sidebar-normal">{{childitem.title}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
