<div class="main-content" *ngIf="settings.getSysSetting('enable_staking') == 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    Staking is disabled.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content" *ngIf="settings.getSysSetting('enable_staking') == 1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats">
                    <div class="card-content">
                        <p class="category text-left">Total Staking BT9</p>
                        <h3 class="card-title">{{stakingBalance.total_amount | number:'1.0-8'}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats">
                    <div class="card-content">
                        <p class="category text-left">Active BT9</p>
                        <h3 class="card-title">{{stakingBalance.locked_amount | number:'1.0-8'}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats">
                    <div class="card-content">
                        <p class="category text-left">Release BT9</p>
                        <h3 class="card-title">{{stakingBalance.unlocked_amount | number:'1.0-8'}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats">
                    <div class="card-content">
                        <p class="category text-left">Earned BT9</p>
                        <h3 class="card-title">{{stakingBalance.earned_amount | number:'1.0-8'}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Staking</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-content" style="margin: 5%;">
                                    <div class="text-center">
                                        <h4>Enter Amount BT9</h4>
                                        <form action="#" method="#" novalidate=""
                                              class="ng-untouched ng-pristine ng-valid">
                                            <div class="form-group label-floating">
                                                <label class="control-label label-amount">Amount BT9</label>
                                                <input class="form-control input-amount ng-untouched ng-pristine ng-valid"
                                                       [(ngModel)]="stakingAmount" name="amount" required="" type="text">
                                                <div class="text-left">
                                                <small class="text-black">Minimum Amount: {{settings.getSysSetting('staking_minimum_amount')}}</small>
                                                </div>
                                                <div class="all-btn">
                                                    <button class="btn btn-info btn-xs" (click)="allBT9()">ALL BT9
                                                    </button>
                                                </div>
                                            </div>
                                            <div style="margin-top: 7px;">
                                                <p>
                                                    <small>Your Staking will be locked for {{settings.getSysSetting('staking_locked_days')}} days.</small>
                                                </p>
                                                <p>
                                                    <small>You will receive {{settings.getSysSetting('staking_interest_month') / 30 | number:'1.0-2'}} every day</small>
                                                </p>
                                            </div>
                                            <button class="btn btn-fill btn-info" type="button"
                                                    (click)="buyStaking()">Buy with BT9 Wallet
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bs-component">
                                    <div class="panel-group accordion">
                                        <div class="panel mbn" style="border: 1px solid #c2c8d8;">
                                            <div class="panel-heading" style="height: auto">
                                                <p style="border-radius: 0px;background-color:transparent;color:black">
                                                    Your Staking
                                                </p>
                                            </div>
                                            <div class="panel-collapse collapse in "
                                                 style="background-color: white">
                                                <div class="table-responsive">
                                                    <table cellspacing="0"
                                                           class="table table-striped table-hover table-condensed text-black "
                                                           width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Amount</th>
                                                            <th>Date</th>
                                                            <th>Finish Date</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let staking of stakings; let i=index">
                                                            <td>{{i+1}}</td>
                                                            <td>{{staking.src_amount | number:'1.0-8'}}</td>
                                                            <td>{{staking.date | date:'yyyy-MM-dd'}}</td>
                                                            <td>{{staking.finish_date | date:'yyyy-MM-dd'}}</td>
                                                        </tr>
                                                        <!---->
                                                        <tr *ngIf="stakings?.length == 0">
                                                            <td class="text-center" colspan="4">
                                                                No Staking found.
                                                            </td>
                                                        </tr>
                                                        <!---->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>