.all-btn {
  position: absolute;
  right: 0;
  top: 0px;
}


.panel-group .panel-heading {
  position: relative;
  display: block;
  width: 100%;
}

.panel-heading {
  height: 52px;
  line-height: 49px;
  letter-spacing: .2px;
  color: #a9acbd;
  font-size: 15px;
  font-weight: 400;
  padding: 0 13px;
  background: #fafafa;
  border: 1px solid #e5eaee;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}