<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left">
                    User Statistics
                </h3>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary btn-just-icon btn-round">
                                    <i class="fa fa-users"></i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{usersts.total_user}}</h3>
                                <h5 class="text-muted m-b-0">Total Users</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success btn-just-icon btn-round">
                                    <i class="fa fa-users"></i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{usersts.confirmed_user}}</h3>
                                <h5 class="text-muted m-b-0">Confirmed Users</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-danger btn-just-icon btn-round">
                                    <i class="fa fa-users"></i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{usersts.unconfirmed_user}}</h3>
                                <h5 class="text-muted m-b-0">Unconfirmed Users</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left">
                    ICO Statistics
                </h3>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-danger btn-just-icon btn-round">
                                    <i class="material-icons">donut_small</i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{icosts.total_sold | number:'1.8-8'}} BT9</h3>
                                <h5 class="text-muted m-b-0">Total ICO Sold</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary btn-just-icon btn-round">
                                    <i class="material-icons">donut_small</i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{icosts.btc_purchase | number:'1.8-8'}} BTC</h3>
                                <h5 class="text-muted m-b-0">BTC Purchase</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success btn-just-icon btn-round">
                                    <i class="material-icons">donut_small</i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{icosts.eth_purchase | number:'1.8-8'}} ETH</h3>
                                <h5 class="text-muted m-b-0">ETH Purchase</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left">
                    Wallet Statistics
                </h3>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info btn-just-icon btn-round">
                                    <img src="assets/img/B9_color.png" style="width: 30px;"/>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{wallet.bt9_balance | number:'1.8-8'}} BT9</h3>
                                <h5 class="text-muted m-b-0">BT9 Balance</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-warning btn-just-icon btn-round">
                                    <i class="fa fa-bitcoin"></i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{wallet.btc_balance  | number:'1.8-8'}} BTC</h3>
                                <h5 class="text-muted m-b-0">BTC Balance</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success btn-just-icon btn-round">
                                    <img src="assets/img/ethereum.png" style="width: 30px;"/>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{wallet.eth_balance  | number:'1.8-8'}} ETH</h3>
                                <h5 class="text-muted m-b-0">ETH Balance</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left">
                    FEE Statistics
                </h3>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-warning btn-just-icon btn-round">
                                    <img src="assets/img/B9_color.png" style="width: 30px;"/>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{fee.bt9_fee | number:'1.8-8'}} BT9</h3>
                                <h5 class="text-muted m-b-0">BT9 FEE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-danger btn-just-icon btn-round">
                                    <i class="fa fa-bitcoin"></i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{fee.btc_fee  | number:'1.8-8'}} BTC</h3>
                                <h5 class="text-muted m-b-0">BTC FEE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info btn-just-icon btn-round">
                                    <img src="assets/img/ethereum.png" style="width: 30px;"/>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{fee.eth_fee | number:'1.8-8'}} ETH</h3>
                                <h5 class="text-muted m-b-0">ETH FEE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left">
                    Lending Statistics
                </h3>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success btn-just-icon btn-round">
                                    <i class="material-icons">device_hub</i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{lendingsts.total_amount | number:'1.2-2'}} USD</h3>
                                <h5 class="text-muted m-b-0">Total Lending</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info btn-just-icon btn-round">
                                    <i class="material-icons">device_hub</i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{lendingsts.locked_amount | number:'1.2-2'}} USD</h3>
                                <h5 class="text-muted m-b-0">Locked Lending</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary btn-just-icon btn-round">
                                    <i class="material-icons">device_hub</i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{lendingsts.daily_amount | number:'1.2-2'}} USD</h3>
                                <h5 class="text-muted m-b-0">Total Daily Interest</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left">
                    Staking Statistics
                </h3>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info btn-just-icon btn-round">
                                    <i class="material-icons">play_for_work</i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{stakingsts.total_amount | number:'1.8-8'}} BT9</h3>
                                <h5 class="text-muted m-b-0">Total Staking</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-warning btn-just-icon btn-round">
                                    <i class="material-icons">play_for_work</i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{stakingsts.locked_amount | number:'1.8-8'}} BT9</h3>
                                <h5 class="text-muted m-b-0">Locked Staking</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success btn-just-icon btn-round">
                                    <i class="material-icons">play_for_work</i>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <h3 class="m-b-0 font-light">{{stakingsts.earned_amount | number:'1.8-8'}} BT9</h3>
                                <h5 class="text-muted m-b-0">Total Staking Interest</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>