<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>User email: <b>{{user.email}}</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>BT9 Balance: {{user.token_balance | number:'1.8-8'}}</h4>
            </div>

            <div class="col-md-4">
                <h4>BTC Balance: {{user.btc_balance | number:'1.8-8'}} BTC</h4>
            </div>

            <div class="col-md-4">
                <h4>ETH Balance: {{user.eth_balance | number:'1.8-8'}} ETH</h4>
            </div>
        </div>
        <div class="row"  style="margin-top: 20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs" data-background-color="blue">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#token" data-toggle="tab">
                                            <img src="/assets/img/B9_color.png" style="width: 25px; "/> BT9COIN
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="" (click)="loadBTCHistory()">
                                        <a href="#btc" data-toggle="tab">
                                            <img src="/assets/img/BTC.png" style="width: 25px; "/> Bitcoin
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="" (click)="loadETHHistory()">
                                        <a href="#eth" data-toggle="tab">
                                            <img src="/assets/img/ethereum.png" style="width: 25px; "/> Ethereum
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="token">
                                <!--<div class="row">-->
                                    <!--<div class="col-md-12">-->
                                        <!--<div class="float-right">-->
                                            <!--<button type="button" class="btn btn-info btn-round" (click)="addMyAltCoin()">-->
                                                <!--<i class="fa fa-plus"></i>-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="token-history">
                                    <h4 class="card-title"><b>BT9 History</b></h4>
                                    <div class="material-datatables table-responsive">
                                        <table id="myaltcoindatatable"
                                               class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th style="width: 200px;">DATETIME</th>
                                                <th>AMOUNT</th>
                                                <th>TYPE</th>
                                                <th>STATUS</th>
                                                <th>DESCRIPTION</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let tx of tokenHistory; let last = last">
                                                <td style="width: 200px;">{{tx['date'] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td>{{(tx['category'] == 'send' ? (-1) * tx['src_amount'] : tx['dest_amount']) | number:'1.0-8'}}</td>
                                                <td [ngSwitch]="tx['type']">
                                                    <span *ngSwitchCase="1">PURCHASE TOKEN</span>
                                                    <span *ngSwitchCase="2">
                                                            {{tx['exchange_type'] == 0 ? 'EXCHANGE/BUY' : 'EXCHANGE/SELL'}}
                                                        </span>
                                                    <span *ngSwitchCase="3">BONUS</span>
                                                    <span *ngSwitchCase="4">LENDING</span>
                                                    <span *ngSwitchCase="5">WITHDRAW</span>
                                                    <span *ngSwitchCase="6">LENDING/TRANSFER</span>
                                                    <span *ngSwitchCase="7">STAKING</span>
                                                    <span *ngSwitchCase="8">STAKING/UNLOCK</span>
                                                    <span *ngSwitchCase="9">DEPOSIT</span>
                                                    <span *ngSwitchCase="10">STAKING/EARN</span>
                                                </td>
                                                <td [ngSwitch]="tx['status']">
                                                    <label class="label label-primary" *ngSwitchCase="0">PENDING</label>
                                                    <label class="label label-success" *ngSwitchCase="1">SUCCESS</label>
                                                    <label class="label label-warning" *ngSwitchCase="4">OPENING</label>
                                                </td>
                                                <td>{{tx['txid']}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="btc">
                                <div class="deposit-history">
                                    <h4 class="card-title"><b>BTC History</b></h4>
                                    <div class="material-datatables table-responsive">
                                        <table id="btcdatatable"
                                               class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th style="width: 200px;">DATETIME</th>
                                                <th>AMOUNT</th>
                                                <th>TYPE</th>
                                                <th>STATUS</th>
                                                <th>DESCRIPTION</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let tx of btcHistory; let last = last">
                                                <td style="width: 200px;">{{tx['date'] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td>{{(tx['category'] == 'send' ? (-1) * tx['src_amount'] : tx['dest_amount']) | number:'1.0-8'}}</td>
                                                <td [ngSwitch]="tx['type']">
                                                    <span *ngSwitchCase="1">PURCHASE TOKEN</span>
                                                    <span *ngSwitchCase="2">
                                                            {{tx['exchange_type'] == 0 ? 'EXCHANGE/BUY' : 'EXCHANGE/SELL'}}
                                                        </span>
                                                    <span *ngSwitchCase="3">BONUS</span>
                                                    <span *ngSwitchCase="4">LENDING</span>
                                                    <span *ngSwitchCase="5">WITHDRAW</span>
                                                    <span *ngSwitchCase="6">LENDING/TRANSFER</span>
                                                    <span *ngSwitchCase="7">STAKING</span>
                                                    <span *ngSwitchCase="8">STAKING/UNLOCK</span>
                                                    <span *ngSwitchCase="9">DEPOSIT</span>
                                                    <span *ngSwitchCase="10">STAKING/EARN</span>
                                                </td>
                                                <td [ngSwitch]="tx['status']">
                                                    <label class="label label-primary" *ngSwitchCase="0">PENDING</label>
                                                    <label class="label label-success" *ngSwitchCase="1">SUCCESS</label>
                                                    <label class="label label-warning" *ngSwitchCase="4">OPENING</label>
                                                </td>
                                                <td>{{tx['txid']}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="eth">
                                <div class="deposit-history">
                                    <h4 class="card-title"><b>ETH History</b></h4>
                                    <div class="material-datatables table-responsive">
                                        <table id="ethdatatable"
                                               class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th style="width: 200px;">DATETIME</th>
                                                <th>AMOUNT</th>
                                                <th>TYPE</th>
                                                <th>STATUS</th>
                                                <th>DESCRIPTION</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let tx of ethHistory; let last = last">
                                                <td style="width: 200px;">{{tx['date'] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td>{{(tx['category'] == 'send' ? (-1) * tx['src_amount'] : tx['dest_amount']) | number:'1.0-8'}}</td>
                                                <td [ngSwitch]="tx['type']">
                                                    <span *ngSwitchCase="1">PURCHASE TOKEN</span>
                                                    <span *ngSwitchCase="2">
                                                            {{tx['exchange_type'] == 0 ? 'EXCHANGE/BUY' : 'EXCHANGE/SELL'}}
                                                        </span>
                                                    <span *ngSwitchCase="3">BONUS</span>
                                                    <span *ngSwitchCase="4">LENDING</span>
                                                    <span *ngSwitchCase="5">WITHDRAW</span>
                                                    <span *ngSwitchCase="6">LENDING/TRANSFER</span>
                                                    <span *ngSwitchCase="7">STAKING</span>
                                                    <span *ngSwitchCase="8">STAKING/UNLOCK</span>
                                                    <span *ngSwitchCase="9">DEPOSIT</span>
                                                    <span *ngSwitchCase="10">STAKING/EARN</span>
                                                </td>
                                                <td [ngSwitch]="tx['status']">
                                                    <label class="label label-primary" *ngSwitchCase="0">PENDING</label>
                                                    <label class="label label-success" *ngSwitchCase="1">SUCCESS</label>
                                                    <label class="label label-warning" *ngSwitchCase="4">OPENING</label>
                                                </td>
                                                <td>{{tx['txid']}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<modal-dialog [(visible)]="showModal">
    <h2>Add BT9</h2>
    <div class="dialog">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <mat-datepicker-toggle matSuffix [for]="resultPicker">
                    </mat-datepicker-toggle>
                    <mat-input-container>
                        <input matInput
                               [matDatepicker]="resultPicker"
                               name="date"
                               [(ngModel)]="tx.date"
                               placeholder="Date">
                    </mat-input-container>
                    <mat-datepicker
                            #resultPicker
                            [touchUi]="touch"
                            [startView]="'month'">
                    </mat-datepicker>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-select placeholder="Coin" [(ngModel)]="tx.coin" name="coin">
                            <mat-option value="BTC">BTC</mat-option>
                            <mat-option value="ETH">ETH</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Coin Amount</label>
                        <input type="text" class="form-control" [(ngModel)]="tx.coin_amount" name="coin_amount">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">BT9 Amount</label>
                        <input type="text" class="form-control" name="myaltcoin_amount" [(ngModel)]="tx.myaltcoin_amount">
                    </div>
                </div>
            </div>
            <div class="text-center" style="margin-top: 20px;">
                <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
                <button type="button" class="btn btn-default" (click)="showModal = !showModal">Cancel</button>
            </div>
        </form>
    </div>
</modal-dialog>