<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title text-center">Transaction Detail</h3>
                <br/>
                <div class="nav-center">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
                        <li class="active" (click)="btcLoadTxList()">
                            <a href="#btc" role="tab" data-toggle="tab">
                                <i class="fa fa-bitcoin"></i> BTC
                            </a>
                        </li>
                        <li (click)="ethLoadTxList()">
                            <a href="#eth" role="tab" data-toggle="tab">
                                <i><img src="assets/img/eth_29x29.png" /></i> ETH
                            </a>
                        </li>
                        <li (click)="altcoinLoadTxList()">
                            <a href="#altcoin" role="tab" data-toggle="tab">
                                <i><img src="assets/img/B9_black.png" style="width: 30px;"/></i> BT9
                            </a>
                        </li>
                        <li (click)="lendingLoad()">
                            <a href="#lending" role="tab" data-toggle="tab">
                                <i class="material-icons">device_hub</i> Lending
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="altcoin">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-content">
                                        <h4 class="card-title">BT9Coin Transaction</h4>
                                        <div class="toolbar">
                                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                                        </div>
                                        <div class="material-datatables table-responsive">
                                            <table id="altcoindatatables"
                                                   class="table table-striped table-no-bordered table-hover"
                                                   cellspacing="0" width="100%" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th style="width: 200px;">DATETIME</th>
                                                    <th>AMOUNT</th>
                                                    <th>TYPE</th>
                                                    <th>STATUS</th>
                                                    <th>DESCRIPTION</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let tx of altcoinTxList; let last = last">
                                                    <td style="width: 200px;">{{tx['date'] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                                    <td>{{(tx['category'] == 'send' ? (-1) * tx['src_amount'] : tx['dest_amount']) | number:'1.0-8'}}</td>
                                                    <td [ngSwitch]="tx['type']">
                                                        <span *ngSwitchCase="1">PURCHASE TOKEN</span>
                                                        <span *ngSwitchCase="2">
                                                            {{tx['exchange_type'] == 0 ? 'EXCHANGE/BUY' : 'EXCHANGE/SELL'}}
                                                        </span>
                                                        <span *ngSwitchCase="3">BONUS</span>
                                                        <span *ngSwitchCase="4">LENDING</span>
                                                        <span *ngSwitchCase="5">WITHDRAW</span>
                                                        <span *ngSwitchCase="6">LENDING/TRANSFER</span>
                                                        <span *ngSwitchCase="7">STAKING</span>
                                                        <span *ngSwitchCase="8">STAKING/UNLOCK</span>
                                                        <span *ngSwitchCase="9">DEPOSIT</span>
                                                        <span *ngSwitchCase="10">STAKING/EARN</span>
                                                    </td>
                                                    <td [ngSwitch]="tx['status']">
                                                        <label class="label label-primary" *ngSwitchCase="0">PENDING</label>
                                                        <label class="label label-success" *ngSwitchCase="1">SUCCESS</label>
                                                        <label class="label label-warning" *ngSwitchCase="4">OPENING</label>
                                                    </td>
                                                    <td>{{tx['txid']}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="btc">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-content">
                                        <h4 class="card-title">BitCoin Transaction</h4>
                                        <div class="toolbar">
                                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                                        </div>
                                        <div class="material-datatables table-responsive">
                                            <table id="btcdatatables"
                                                   class="table table-striped table-no-bordered table-hover"
                                                   cellspacing="0" width="100%" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th style="width: 200px;">DATETIME</th>
                                                    <th>AMOUNT</th>
                                                    <th>TYPE</th>
                                                    <th>STATUS</th>
                                                    <th>DESCRIPTION</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let tx of btcTxList; let last = last">
                                                    <td style="width: 200px;">{{tx['date'] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                                    <td>{{(tx['category'] == 'send' ? (-1) * tx['src_amount'] : tx['dest_amount']) | number:'1.0-8'}}</td>
                                                    <td [ngSwitch]="tx['type']">
                                                        <span *ngSwitchCase="1">PURCHASE TOKEN</span>
                                                        <span *ngSwitchCase="2">
                                                            {{tx['exchange_type'] == 0 ? 'EXCHANGE/BUY' : 'EXCHANGE/SELL'}}
                                                        </span>
                                                        <span *ngSwitchCase="3">BONUS</span>
                                                        <span *ngSwitchCase="4">LENDING</span>
                                                        <span *ngSwitchCase="5">WITHDRAW</span>
                                                        <span *ngSwitchCase="6">LENDING/TRANSFER</span>
                                                        <span *ngSwitchCase="7">STAKING</span>
                                                        <span *ngSwitchCase="8">STAKING/UNLOCK</span>
                                                        <span *ngSwitchCase="9">DEPOSIT</span>
                                                        <span *ngSwitchCase="10">STAKING/EARN</span>
                                                    </td>
                                                    <td [ngSwitch]="tx['status']">
                                                        <label class="label label-primary" *ngSwitchCase="0">PENDING</label>
                                                        <label class="label label-success" *ngSwitchCase="1">SUCCESS</label>
                                                        <label class="label label-warning" *ngSwitchCase="4">OPENING</label>
                                                    </td>
                                                    <td>{{tx['txid']}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="eth">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-content">
                                        <h4 class="card-title">Ethereum Transaction</h4>
                                        <div class="toolbar">
                                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                                        </div>
                                        <div class="material-datatables table-responsive">
                                            <table id="ethdatatables"
                                                   class="table table-striped table-no-bordered table-hover"
                                                   cellspacing="0" width="100%" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th style="width: 200px;">DATETIME</th>
                                                    <th>AMOUNT</th>
                                                    <th>TYPE</th>
                                                    <th>STATUS</th>
                                                    <th>DESCRIPTION</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let tx of ethTxList; let last = last">
                                                    <td style="width: 200px;">{{tx['date'] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                                    <td>{{(tx['category'] == 'send' ? (-1) * tx['src_amount'] : tx['dest_amount']) | number:'1.0-8'}}</td>
                                                    <td [ngSwitch]="tx['type']">
                                                        <span *ngSwitchCase="1">PURCHASE TOKEN</span>
                                                        <span *ngSwitchCase="2">
                                                            {{tx['exchange_type'] == 0 ? 'EXCHANGE/BUY' : 'EXCHANGE/SELL'}}
                                                        </span>
                                                        <span *ngSwitchCase="3">BONUS</span>
                                                        <span *ngSwitchCase="4">LENDING</span>
                                                        <span *ngSwitchCase="5">WITHDRAW</span>
                                                        <span *ngSwitchCase="6">LENDING/TRANSFER</span>
                                                        <span *ngSwitchCase="7">STAKING</span>
                                                        <span *ngSwitchCase="8">STAKING/UNLOCK</span>
                                                        <span *ngSwitchCase="9">DEPOSIT</span>
                                                        <span *ngSwitchCase="10">STAKING/EARN</span>
                                                    </td>
                                                    <td [ngSwitch]="tx['status']">
                                                        <label class="label label-primary" *ngSwitchCase="0">PENDING</label>
                                                        <label class="label label-success" *ngSwitchCase="1">SUCCESS</label>
                                                        <label class="label label-warning" *ngSwitchCase="4">OPENING</label>
                                                    </td>
                                                    <td>{{tx['txid']}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="lending">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-content">
                                        <h4 class="card-title">Lending Transaction</h4>
                                        <div class="toolbar">
                                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                                        </div>
                                        <div class="material-datatables table-responsive">
                                            <table id="lendingdatatables"
                                                   class="table table-striped table-no-bordered table-hover"
                                                   cellspacing="0" width="100%" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th style="width: 200px;">DATETIME</th>
                                                    <th>AMOUNT</th>
                                                    <th>TYPE</th>
                                                    <th>STATUS</th>
                                                    <th>DESCRIPTION</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let tx of lendingList; let last = last">
                                                    <td style="width: 200px;">{{tx['date'] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                                    <td>{{(tx['category'] == 'lending' ? tx['dest_amount'] : tx['src_amount']) | number:'1.0-2'}}</td>
                                                    <td>
                                                        {{tx['category'] == 'lending' ? 'LENDING' : 'TRANSFER'}}
                                                    </td>
                                                    <td [ngSwitch]="tx['status']">
                                                        <label class="label label-primary" *ngSwitchCase="0">PENDING</label>
                                                        <label class="label label-success" *ngSwitchCase="1">SUCCESS</label>
                                                    </td>
                                                    <td>
                                                        {{tx['category'] == 'lending' ? ('Finish Day:  ' +  (tx['finish_date'] | date: 'yyyy-MM-dd HH:mm:ss')) : ''}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
