
.input-amount {
  text-align: center;
}

.investrates__item {
  display: block;
  font-size: 0;
  height: 12px;
  line-height: 12px;
  padding: 0;
}

.investrates__item p {
  display: inline-block;
  vertical-align: baseline;
  width: 30%;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

.investrates__item p img {
  display: inline-block;
  vertical-align: baseline;
  height: 16px;
  width: auto;
  margin-right: 14px;
}

.investrates__item p span {
  text-align: left;
  font-weight: 600;
  font-size: 13px;
}

.investrates__item + .investrates__item {
  border-top: 1px solid #d5dae1;
}

.investrates__item__currency {
  position: relative;
  box-sizing: border-box;
  padding-left: 33px;
}

.investrates__item__currency img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.ico {
  text-align: center;
  position: relative;
  .date {
    margin-top: 10px;
  }
  b {
    font-size: 18px;
  }
  .complete-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  .complete-image {
    position: absolute;
    background-image: url(/assets/img/completed-stamp-sm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 128px;
    height: 96px;
    margin: auto;
  }
}