.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 899;
}

.dialog {
  z-index: 900;
  position: fixed;
  //right: 0;
  //left: 0;
  top: 120px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 650px;
  max-width: 1200px;
  max-height: 80%;
  overflow-y: auto;
  background-color: #fff;
  padding: 30px 20px 20px 20px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .dialog {
    top: 120px;
  }
}

.dialog__close-btn {
  border: 0;
  background: none;
  color: #2d2d2d;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2em;
}