<div class="main-content">
    <div class="container-fluid">

        <div class="row"  style="margin-top: 20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs" data-background-color="blue">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#token" data-toggle="tab">
                                            <img src="/assets/img/B9_color.png" style="width: 25px; "/> BT9COIN
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="" (click)="loadBTCPending()">
                                        <a href="#btc" data-toggle="tab">
                                            <img src="/assets/img/BTC.png" style="width: 25px; "/> Bitcoin
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="" (click)="loadETHPending()">
                                        <a href="#eth" data-toggle="tab">
                                            <img src="/assets/img/ethereum.png" style="width: 25px; "/> Ethereum
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="token">
                                <div class="withdraw-info">
                                    <h4 class="card-title"><b>Withdraw Info</b></h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Total Wallet Balance</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{bt9info.total_balance | number:'1.8-8'}} BT9
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Total Withdraws</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{bt9info.total_number | number:'1.8-8'}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Total Withdraw Amounts</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{bt9info.total_amount | number:'1.8-8'}} BT9
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Total Fees</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{bt9info.total_fee | number:'1.8-8'}} BT9
                                        </div>
                                    </div>
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-3">-->
                                            <!--<label>Estimated Fees</label>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-9">-->
                                            <!--{{bt9info.estimated_fee | number:'1.8-8'}} BT9-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="col-md-9">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label>Set Priority: </label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="form-group" style="margin-top: 0px;">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<select class="form-control" name="priority" [(ngModel)]="bt9info.priority">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<option value="0">HIGH</option>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<option value="1">MEDIUM</option>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<option value="2">LOW</option>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-3">-->
                                            <!--<label>Fee Profits</label>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-9">-->
                                            <!--{{bt9info.profit_fee | number:'1.8-8'}} BT9-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="row">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-9">
                                            <!--<button type="button" class="btn btn-danger" (click)="estimateBT9Fee()">-->
                                                <!--Check-->
                                            <!--</button>-->
                                            <button type="button" class="btn btn-info" (click)="withdrawBT9()">
                                                Withdraw
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="pending-list">
                                    <h4 class="card-title"><b>Pending List</b></h4>
                                    <div class="material-datatables table-responsive">
                                        <table class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="width: 200px;">ADDRESS</th>
                                                <th>AMOUNT</th>
                                                <th>FEE</th>
                                                <th>WITHDRAW AMOUNT</th>
                                                <th>CREATED AT</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let tx of bt9Pending; let i = index">
                                                <td>{{i + 1}}</td>
                                                <td>{{tx.address}}</td>
                                                <td>{{tx.src_amount | number:'1.8-8'}}</td>
                                                <td>{{tx.fee | number:'1.8-8'}}</td>
                                                <td>{{tx.src_amount - tx.fee | number: '1.8-8'}}</td>
                                                <td style="width: 200px;">{{tx['date'] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                            </tr>

                                            <tr *ngIf="bt9Pending?.length == 0">
                                                <td class="text-center" colspan="6">
                                                    No Withdraw Pending found.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="btc">
                                <div class="withdraw-info">
                                    <h4 class="card-title"><b>Withdraw Info</b></h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Total Wallet Balance</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{btcinfo.total_balance | number:'1.8-8'}} BTC
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Total Withdraws</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{btcinfo.total_number | number:'1.8-8'}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Total Withdraw Amounts</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{btcinfo.total_amount | number:'1.8-8'}} BTC
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Total Fees</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{btcinfo.total_fee | number:'1.8-8'}} BTC
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Estimated Fees</label>
                                        </div>
                                        <div class="col-md-3">
                                            {{btcinfo.estimated_fee | number:'1.8-8'}} BTC
                                        </div>
                                        <div class="col-md-2">
                                            <label>Set Priority: </label>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group" style="margin-top: 0px;">
                                                <select class="form-control" name="priority" [(ngModel)]="btcinfo.priority">
                                                    <option value="0">HIGH</option>
                                                    <option value="1">MEDIUM</option>
                                                    <option value="2">LOW</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-danger btn-sm" (click)="estimateBTCFee()">
                                                ESTIMATE FEE
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Fee Profits</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{btcinfo.profit_fee | number:'1.8-8'}} BT9
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-9">
                                            <button type="button" class="btn btn-info" (click)="withdrawBTC()">
                                                Withdraw
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="pending-list">
                                    <h4 class="card-title"><b>Pending List</b></h4>
                                    <div class="material-datatables table-responsive">
                                        <table class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="width: 200px;">ADDRESS</th>
                                                <th>AMOUNT</th>
                                                <th>FEE</th>
                                                <th>WITHDRAW AMOUNT</th>
                                                <th>CREATED AT</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let tx of btcPending; let i = index">
                                                <td>{{i + 1}}</td>
                                                <td>{{tx.address}}</td>
                                                <td>{{tx.src_amount | number:'1.8-8'}}</td>
                                                <td>{{tx.fee | number:'1.8-8'}}</td>
                                                <td>{{(tx.src_amount - tx.fee) | number: '1.8-8'}}</td>
                                                <td style="width: 200px;">{{tx['date'] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                            </tr>

                                            <tr *ngIf="btcPending?.length == 0">
                                                <td class="text-center" colspan="6">
                                                    No Withdraw Pending found.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="eth">
                                <div>
                                    <h4 class="card-title"><b>Pending List</b></h4>
                                    <div class="material-datatables table-responsive">
                                        <table class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="width: 200px;">ADDRESS</th>
                                                <th>AMOUNT</th>
                                                <th>FEE</th>
                                                <th>WITHDRAW AMOUNT</th>
                                                <th>CREATED AT</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let tx of ethPending; let i = index">
                                                <td>{{i + 1}}</td>
                                                <td>{{tx.address}}</td>
                                                <td>{{tx.src_amount | number:'1.8-8'}}</td>
                                                <td>{{tx.fee | number:'1.8-8'}}</td>
                                                <td>{{tx.src_amount - tx.fee | number: '1.8-8'}}</td>
                                                <td style="width: 200px;">{{tx['date'] | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                            </tr>

                                            <tr *ngIf="ethPending?.length == 0">
                                                <td class="text-center" colspan="6">
                                                    No Withdraw Pending found.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>