<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-title">
                        REFERRAL MEMBER
                    </div>
                    <div class="card-content">
                        <ay-treeTable [value]="referraldata" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]">
                            <ay-column field="username" header="Username"></ay-column>
                            <ay-column field="token_amount" header="Purchased BT9Coin"></ay-column>
                            <ay-column field="bonus_percent" header="MLM Bonus(%)"></ay-column>
                            <ay-column field="bonus_amount" header="MLM Bonus(BT9)"></ay-column>
                            <ay-column field="lending_bonus" header="LENDING Bonus(BT9)"></ay-column>
                            <ay-column field="level" header="Ref Level"></ay-column>
                        </ay-treeTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
