<div class="main-content">
    <div class="container-fluid">

        <div class="row"  style="margin-top: 20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs" data-background-color="blue">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#token" data-toggle="tab">
                                            <img src="/assets/img/B9_color.png" style="width: 25px; "/> BT9COIN
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#btc" data-toggle="tab">
                                            <img src="/assets/img/BTC.png" style="width: 25px; "/> Bitcoin
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#eth" data-toggle="tab">
                                            <img src="/assets/img/ethereum.png" style="width: 25px; "/> Ethereum
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="token">
                                <div class="tx-list">
                                    <h4 class="card-title"><b>Transaction List</b></h4>
                                    <div class="material-datatables table-responsive">
                                        <table class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="width: 200px;">TIME</th>
                                                <th>LABEL</th>
                                                <th>CATEGORY</th>
                                                <th>AMOUNT</th>
                                                <th>ADDRESS</th>
                                                <th>TXID</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let tx of bt9TxList; let i = index">
                                                <td>{{i + 1}}</td>
                                                <td>{{tx.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td>{{tx.account}}</td>
                                                <td>{{tx.category}}</td>
                                                <td>{{tx.amount | number: '1.8-8'}}</td>
                                                <td>{{tx.address}}</td>
                                                <td>{{tx.txid}}</td>
                                            </tr>

                                            <tr *ngIf="bt9TxList?.length == 0">
                                                <td class="text-center" colspan="7">
                                                    No Transaction found.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="btc">
                                <div class="tx-list">
                                    <h4 class="card-title"><b>Transaction List</b></h4>
                                    <div class="material-datatables table-responsive">
                                        <table class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="width: 200px;">TIME</th>
                                                <th>LABEL</th>
                                                <th>CATEGORY</th>
                                                <th>AMOUNT</th>
                                                <th>ADDRESS</th>
                                                <th>TXID</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let tx of btcTxList; let i = index">
                                                <td>{{i + 1}}</td>
                                                <td>{{tx.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td>{{tx.account}}</td>
                                                <td>{{tx.category}}</td>
                                                <td>{{tx.amount | number: '1.8-8'}}</td>
                                                <td>{{tx.address}}</td>
                                                <td>{{tx.txid}}</td>
                                            </tr>

                                            <tr *ngIf="btcTxList?.length == 0">
                                                <td class="text-center" colspan="7">
                                                    No Transaction found.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="eth">
                                <div class="tx-list">
                                    <h4 class="card-title"><b>Transaction List</b></h4>
                                    <div class="material-datatables table-responsive">
                                        <table class="table table-striped table-no-bordered table-hover"
                                               cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="width: 200px;">TIME</th>
                                                <th>LABEL</th>
                                                <th>CATEGORY</th>
                                                <th>AMOUNT</th>
                                                <th>ADDRESS</th>
                                                <th>TXID</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let tx of ethTxList; let i = index">
                                                <td>{{i + 1}}</td>
                                                <td>{{tx.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td>{{tx.account}}</td>
                                                <td>{{tx.category}}</td>
                                                <td>{{tx.amount | number: '1.8-8'}}</td>
                                                <td>{{tx.address}}</td>
                                                <td>{{tx.txid}}</td>
                                            </tr>

                                            <tr *ngIf="ethTxList?.length == 0">
                                                <td class="text-center" colspan="7">
                                                    No Transaction found.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>