<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">
                            Admin Users
                        </h3>
                        <div *ngIf="settings.getUserSetting('permission') == 1">
                            <button type="button" class="btn btn-round btn-success" (click)="onAdd()"><i
                                    class="material-icons">add</i></button>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Full Name</th>
                                    <th>UserName</th>
                                    <th>Permission</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let user of adminUsers;">
                                    <td>{{user.email}}</td>
                                    <td>{{user.fullname}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.permission == 0 ? 'Read' : 'Read/Write'}}</td>
                                    <td class="td-actions text-center">
                                        <div *ngIf="settings.getUserSetting('permission') == 1">
                                            <button type="button" class="btn btn-success btn-round" *ngIf="user.id != 1"
                                                    (click)="onEdit(user)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-round" *ngIf="user.id != 1"
                                                    (click)="onDelete(user)">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<modal-dialog [(visible)]="showAddModal" [closable]="false">
    <form class="form-horizontal">
        <h2 class="text-left">
            Input Admin Information
        </h2>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" [formGroup]="signup">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">face</i>
                            </span>
                        <div class="form-group label-floating"
                             [ngClass]="validate.displayFieldCss(signup, 'fullname')">
                            <label class="control-label"></label>
                            <input type="text" name="fullname" class="form-control" formControlName="fullname"
                                   [readOnly]="user.id > 0"
                                   placeholder="Full name..." [(ngModel)]="user.fullname">
                            <app-field-error-display [displayError]="validate.isFieldValid(signup, 'fullname')"
                                                     errorMsg="Full name is required.">
                            </app-field-error-display>
                        </div>
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">account_box</i>
                            </span>
                        <div class="form-group label-floating"
                             [ngClass]="validate.displayFieldCss(signup, 'username')">
                            <label class="control-label"></label>
                            <input type="text" name="username" class="form-control" formControlName="username"
                                   [readOnly]="user.id > 0"
                                   placeholder="Username..." [(ngModel)]="user.username">
                            <app-field-error-display [displayError]="validate.isFieldValid(signup, 'username')"
                                                     errorMsg="Username is required and must be with letter and number.">
                            </app-field-error-display>
                        </div>
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                        <div class="form-group label-floating"
                             [ngClass]="validate.displayFieldCss(signup, 'email')">
                            <label class="control-label"></label>
                            <input type="text" name="email" class="form-control" formControlName="email"
                                   [readOnly]="user.id > 0"
                                   placeholder="Email..."
                                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user.email">
                            <app-field-error-display [displayError]="validate.isFieldValid(signup, 'email')"
                                                     errorMsg="Email is required and format should be john@doe.com.">
                            </app-field-error-display>
                        </div>
                    </div>
                    <div class="input-group" *ngIf="user.id == 0">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        <div class="form-group label-floating"
                             [ngClass]="validate.displayFieldCss(signup, 'password')">
                            <label class="control-label"></label>
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   formControlName="password"
                                   placeholder="Password..."
                                   [(ngModel)]="user.password">
                            <app-field-error-display [displayError]="validate.isFieldValid(signup, 'password')"
                                                     errorMsg="Enter a valid password.">
                            </app-field-error-display>
                        </div>
                    </div>
                    <div class="input-group" *ngIf="user.id == 0">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        <div class="form-group label-floating"
                             [ngClass]="validate.displayFieldCss(signup, 'confirmPassword')">
                            <label class="control-label"></label>
                            <input
                                    type="password"
                                    class="form-control"
                                    name="confirmPassword"
                                    formControlName="confirmPassword"
                                    placeholder="Retype Password...">
                            <app-field-error-display
                                    [displayError]="validate.isFieldValid(signup, 'confirmPassword')"
                                    errorMsg="These passwords don't match. Try again!">
                            </app-field-error-display>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-11">
                            <mat-form-field>
                                <mat-select placeholder="Permssion" name="permission" formControlName="permission"
                                            [(ngModel)]="user.permission">
                                    <mat-option [value]="0">Read</mat-option>
                                    <mat-option [value]="1">Read/Write</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-info " (click)="addUser()">SAVE</button>
                        <button class="btn btn-danger " (click)="showAddModal = false">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </form>
</modal-dialog>