<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let agenda of agendas" class="col-md-2">
                <div class="card">
                    <div class="card-content ico">
                        <div class="complete-label" *ngIf="agenda.status == 1">
                            <label class="label-static"><small>COMPLETED</small></label>
                        </div>
                        <div class="complete-image" *ngIf="agenda.status == 1"></div>
                        <div class="date">
                            <b>{{agenda.from | date:'dd'}}</b><small>th</small> - <b>{{agenda.to | date:'dd'}}</b><small>th</small><br>
                            {{agenda.from | date:'MMMM, yyyy'}}
                        </div>
                        <hr>
                        <div>
                            <b>{{agenda.price | number:'1.2-2'}}</b><br>
                            USD per BT9
                        </div>
                        <hr>
                        <div>
                            <b>{{agenda.total | number:'1.0-2'}}</b><br>
                            BT9 per day
                        </div>
                        <hr>
                        <div>
                            <small>MAX</small><b> {{agenda.per_account | number:'1.0-2'}}</b><br>
                            BT9 per acc per day
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Buy BT9Coin</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="card-content" style="margin: 5%;">
                                    <div class="text-center">
                                        <h4>Enter Amount BT9Coin</h4>
                                        <form action="#" method="#" novalidate=""
                                              class="ng-untouched ng-pristine ng-valid">

                                            <div class="form-group label-floating">
                                                <label class="control-label label-amount">Amount BT9Coin</label>
                                                <input class="form-control input-amount ng-untouched ng-pristine ng-valid"
                                                       [(ngModel)]="tokenAmount" name="amount" required="" type="text"
                                                       value="0">
                                                <div class="text-left">
                                                    <small class="text-black">Minimum Amount BT9Coin: 5</small>
                                                </div>

                                                <div class="all-btn">
                                                    <button class="btn btn-info btn-xs" (click)="allBTC()">ALL BTC
                                                    </button>
                                                    <button class="btn btn-primary btn-xs" (click)="allETH()">ALL ETH
                                                    </button>
                                                </div>
                                                <!---->
                                                <div style="padding-top: 10px;">
                                                    <p><b> = {{getBTCAmount() | number:'1.8-8'}} BTC</b></p>
                                                </div>
                                                <div style="padding-top: 10px;">
                                                    <p><b> = {{getETHAmount() | number:'1.8-8'}} ETH</b></p>
                                                </div>
                                                <hr>
                                                <!--<div style="margin-bottom: 7px;">-->
                                                <!--<p>-->
                                                <!--<small>bonus<b> {{tokenAmount * curBonus / 100 | number:'1.0-8'}} BT9Coin</b></small>-->
                                                <!--</p>-->
                                                <!--<p>-->
                                                <!--<small>total receive<b> {{tokenAmount * (100 + curBonus) / 100 | number:'1.0-8'}} BT9Coin</b></small>-->
                                                <!--</p>-->
                                                <!--</div>-->
                                                <!--<p><small >total receive <b >0 ECH</b></small></p>-->
                                            </div>
                                            <button class="btn btn-fill btn-info" type="button"
                                                    (click)="buyTokenWithBTC()">Buy with BTC Wallet
                                            </button>
                                            <button class="btn btn-fill btn-primary" type="button"
                                                    (click)="buyTokenWithETH()">Buy with ETH Wallet
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="card-content">
                                    <h3>BT9Coin Rate Now</h3>
                                    <hr>
                                    <div class="investrates__item"><p class="investrates__item__currency">
                                        <img src="/assets/img/usd.svg"/><span> USD</span></p>
                                        <p class="investrates__item__price">{{token_usd | number:'1.0-8'}}</p></div>
                                    <hr class="hr">
                                    <div class="investrates__item"><p class="investrates__item__currency">
                                        <img src="/assets/img/bitcoin-icon.png"/><span> BTC</span></p>
                                        <p class="investrates__item__price">{{token_btc | number:'1.8-8'}}</p></div>
                                    <hr class="hr">
                                    <div class="investrates__item"><p class="investrates__item__currency">
                                        <img src="/assets/img/eth_29x29.png" style="height: 17px;"/><span> ETH</span>
                                    </p>
                                        <p class="investrates__item__price">{{token_eth | number:'1.8-8'}}</p></div>
                                    <hr class="hr">
                                    <!--<div class="investrates__item"><p class="investrates__item__currency">-->
                                    <!--<span>Bonus Now: </span></p>-->
                                    <!--<p class="investrates__item__price">{{curBonus}}%</p></div>-->
                                    <!--<hr class="hr">-->
                                    <!--<div class="investrates__item__price">-->
                                    <!--<p style="font-weight: bold">1 USD = {{usd_token | number: '1.0-8'}}-->
                                    <!--BT9Coin</p>-->
                                    <!--</div>-->
                                    <div class="investrates__item__price">
                                        <p style="font-weight: bold">1 BTC = {{btc_usd | number: '1.0-8'}} USD
                                            <a class="btn btn-round btn-warning btn-sm">
                                                {{counttime_min}}:{{countTime % 60}}</a></p>
                                    </div>
                                    <div class="investrates__item__price">
                                        <p style="font-weight: bold">1 ETH = {{eth_usd | number: '1.0-8'}} USD</p>
                                    </div>
                                    <hr>
                                    <div class="investrates__item__price note">
                                        <small>Note: <p>1M = 1,000,000</p>
                                            <p>BTC AND ETH price will be refresh every 2 mins</p></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
