.dib {
  display: inline-block;;
}
.card img {
  width: auto;
  height: auto;
}

img.img-example {
  margin-top: -140px;
}
.mr-340 {
  margin-right: 340px;
}
.dn {
  display: none;
}


.swal2-validationerror {
  background-color: #f0f0f0;
  margin: 0 -20px;
  overflow: hidden;
  padding: 10px;
  color: gray;
  font-size: 16px;
  font-weight: 300;
  display: none;
}

.swal2-validationerror::before {
  content: '!';
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: #fff;
  line-height: 24px;
  text-align: center;
  margin-right: 10px;
}