<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-title">
                        Account security - Security is very important
                    </div>
                    <div class="card-content">
                        <ul class="nav nav-pills nav-menu-security nav-pills-warning">
                            <li class="active">
                                <a data-toggle="tab" href="#twofa">Two-factor authentication</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#login_history">Login history</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#login_notification">Login notification</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#withdraw_mail">Withdraw notification</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#change_password">Change Password</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="twofa">
                                <div class="col-md-12">
                                    <h3 class="dib">Two-factor authentication</h3>
                                    <span class="label label-danger label-sm mr-340" *ngIf="allow_g2f == 0">Disable</span>
                                    <span class="label label-success label-sm mr-340" *ngIf="allow_g2f == 1">Enable</span>
                                    <p class="text-black mr-340">
                                        Protect your account in just few minutes by enabling following security
                                        option.<br>
                                        Required when you send coin from main wallet.
                                    </p>
                                    <div class="bs-component app-two-factor-div mt10">
                                        <div class="panel-group accordion" id="accordion">
                                            <div class="panel">
                                                <div>
                                                    <div class="row p10" style="margin-top: 0;">
                                                        <div class="col-sm-12">
                                                            <div *ngIf="allow_g2f == 0">
                                                                <img class="img img-example pull-right"
                                                                     src="assets/img/2fa_google_ex.jpeg" *ngIf="isMobileMenu()">
                                                                <h3>Mobile APP based two-factor authentication</h3>
                                                                <ol>
                                                                    <li>
                                                                        <p>Download &amp; install the "Google
                                                                            Authenticator" app for your mobile
                                                                            phone: </p>
                                                                        <p><i class="fa fa-android"></i> <a
                                                                                href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
                                                                                target="_blank">Google Authenticator for
                                                                            Android (Play Store)</a></p>
                                                                        <p><i class="fa fa-apple"></i>
                                                                            <a href="https://itunes.apple.com/en/app/google-authenticator/id388497605?mt=8"
                                                                               target="_blank">Google Authenticator for
                                                                                iOS (Apple App Store)</a></p>
                                                                        <p><i class="fa fa-windows"></i>
                                                                            <a href="http://www.windowsphone.com/en-us/store/app/authenticator/e7994dbc-2336-4950-91ba-ca22d653759b"
                                                                               target="_blank">Google Authenticator for
                                                                                Windows Phone</a></p>
                                                                    </li>
                                                                    <li>
                                                                        Write down this key <strong class="auth-key">{{g2f_code}}</strong>
                                                                        on the paper and store it safe. You will need it
                                                                        if you lose or change your device.
                                                                    </li>
                                                                    <li>
                                                                        Open the "Google Authenticator" app. <b> Scan QR
                                                                        barcode </b> revealed below with mobile app.
                                                                    </li>
                                                                    <li>
                                                                        Or enter the Authentication code manual given by
                                                                        your mobile app in the box.
                                                                    </li>
                                                                </ol>
                                                                <div class="enable_app_based_twofactor_area">
                                                                    <img *ngIf="g2f_code != ''"
                                                                         src="https://chart.googleapis.com/chart?chs=200x200&chld=M|0&cht=qr&chl=otpauth://totp/{{email}}?secret={{g2f_code}}"/>

                                                                    <div class="form-group is-empty">
                                                                        <label class="control-label"
                                                                               for="id_secret_key">Your Manual
                                                                            Authentication key </label>
                                                                        <div class="controls ">
                                                                            <input aria-invalid="false"
                                                                                   aria-required="true"
                                                                                   class="form-control valid"
                                                                                   id="id_secret_key" name="secret_key"
                                                                                   value="{{g2f_code}}"
                                                                                   readonly="" type="text">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <!--<a class="cp">Print a backup of your recovery code.</a><br >-->
                                                                        <label>
                                                                            <input aria-invalid="false"
                                                                                   aria-required="true" class="valid"
                                                                                   id="verify_auth_key"
                                                                                   name="verify_auth_key"
                                                                                   type="checkbox">
                                                                            <label class="error"
                                                                                   for="verify_auth_key"
                                                                                   style="display: none;">
                                                                                Please verify this </label> I have
                                                                            written down this backup code <strong
                                                                                class="text-black">{{g2f_code}}</strong>
                                                                            on paper
                                                                        </label>
                                                                        <small class="text-danger"
                                                                               style="display: none;" id="required">
                                                                            Required
                                                                        </small>

                                                                        <div class="response"></div>
                                                                        <button class="btn btn-primary btn-sm"
                                                                                (click)="enableG2F()">
                                                                            <i class="fa fa-check fa-lg progress-icon"
                                                                               data-icon="fa-check"></i>
                                                                            Enable Two-factor Authentication
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="dn" id="printContent-qrcode">
                                                                    <h2> ETHCONNECT 2FA BACKUP CODE </h2>
                                                                    <h3> If your phone is lost, stolen, or erased you'll
                                                                        need to restore your authenticator application
                                                                        from this backup. Please store it in a safe
                                                                        place and never share with any one. </h3>
                                                                    <div id="qrCodePrint">
                                                                        <img *ngIf="g2f_code != ''"
                                                                             src="https://chart.googleapis.com/chart?chs=200x200&chld=M|0&cht=qr&chl=otpauth://totp/{{email}}?secret={{g2f_code}}"/>
                                                                    </div>
                                                                    <h3> 16-Digit Code (user :
                                                                        {{settings.getUserSetting('username')}}) :
                                                                        {{g2f_code}}</h3>
                                                                    <p> Note: If you disable 2FA, this code will no
                                                                        longer be valid. </p>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" *ngIf="allow_g2f == 1">
                                                                <button class="btn btn-primary btn-sm"
                                                                        (click)="disableG2F()">
                                                                    <i class="fa fa-check fa-lg progress-icon"
                                                                       data-icon="fa-check"></i>
                                                                    Disable Two-factor Authentication
                                                                </button>
                                                            </div>
                                                            <div class="well p5-h-small">
                                                                <h4>What is Google authenticator?</h4>

                                                                <div class="alert alert-info p5-h-small">

                                                                    <ul>
                                                                        <li> Google Authenticator protects your
                                                                            EthConnect account from keyloggers and
                                                                            password theft. With two-factor
                                                                            authentication, you'll need both your
                                                                            password and an authentication code to log
                                                                            in.
                                                                        </li>
                                                                        <li> Once you turn on Google Authentication,
                                                                            you'll get a Authentication code to your
                                                                            authenticator app every time you sign in on
                                                                            a device.
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <img src="assets/img/google-authenticator-featured.png"
                                                                     style="width:300px">
                                                                <h4>Why You Should Use Google Authenticator App?</h4>
                                                                <ul>
                                                                    <li>It Works without Internet and Network coverage
                                                                    </li>
                                                                    <li>Manage Multiple Accounts in One Place</li>
                                                                    <li>It takes only few minutes to set it up and EASY
                                                                        to use
                                                                    </li>
                                                                    <li>You can use it without need of Google account
                                                                    </li>
                                                                    <li>Protects your EthConnect account from keyloggers
                                                                        and password theft.
                                                                    </li>
                                                                    <li>Adds a second layer of security to prevent
                                                                        unauthorized login access.
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="login_history">
                                <div class="material-datatables table-responsive">
                                    <table cellspacing="0"
                                           class="table table-striped table-no-bordered table-hover custom-table"
                                           id="listLoginHistory" style="width:100%" width="100%">
                                        <thead>
                                        <tr>
                                            <td style="width: 150px;">TIME LOGIN (LOCAL)</td>
                                            <td>IP</td>
                                            <td>USER AGENT</td>
                                            <td>BROWSER/DEVICE</td>
                                            <td>LOCATION</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let history of loginHistory; let last = last">
                                            <td style="width: 150px;">{{history['created_at'] | date: 'yyyy-MM-dd H:m:s'}}</td>
                                            <td>{{history['ip_address']}}</td>
                                            <td>{{history['user_agent']}}</td>
                                            <td>{{history['browser'] + '/' + history['device']}}</td>
                                            <td>{{history['ip_location']}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="tab-pane" id="login_notification">
                                <div class="col-md-12">
                                    <h3 class="dib">Login notification</h3> <!----><!---->
                                    <span class="label label-success label-sm" *ngIf="settings.getUserSetting('enable_loginmsg') == 1">Enable</span>
                                    <span class="label label-warning label-sm" *ngIf="settings.getUserSetting('enable_loginmsg') == 0">Disable</span>
                                    <p class="text-black">
                                        Send a email notification to your email when you login.
                                    </p>
                                    <div>
                                        <button class="btn btn-warning btn-sm" *ngIf="settings.getUserSetting('enable_loginmsg') == 1" (click)="changeLoginMsg()">
                                            <i class="fa fa-check fa-lg progress-icon" data-icon="fa-check"></i>
                                            Disable
                                        </button>
                                        <button class="btn btn-success btn-sm" *ngIf="settings.getUserSetting('enable_loginmsg') == 0" (click)="changeLoginMsg()">
                                            <i class="fa fa-check fa-lg progress-icon" data-icon="fa-check"></i>
                                            Enable
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="withdraw_mail">
                                <div class="col-md-12">
                                    <h3 class="dib">Withdraw notification</h3> <!----><!---->
                                    <span class="label label-success label-sm" *ngIf="settings.getUserSetting('enable_withdrawmail') == 1">Enable</span>
                                    <span class="label label-warning label-sm" *ngIf="settings.getUserSetting('enable_withdrawmail') == 0">Disable</span>
                                    <p class="text-black">
                                        Send a email notification to your email when you withdraw.
                                    </p>
                                    <div>
                                        <button class="btn btn-warning btn-sm" *ngIf="settings.getUserSetting('enable_withdrawmail') == 1" (click)="changeWithdrawMail()">
                                            <i class="fa fa-check fa-lg progress-icon" data-icon="fa-check"></i>
                                            Disable
                                        </button>
                                        <button class="btn btn-success btn-sm" *ngIf="settings.getUserSetting('enable_withdrawmail') == 0" (click)="changeWithdrawMail()">
                                            <i class="fa fa-check fa-lg progress-icon" data-icon="fa-check"></i>
                                            Enable
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="change_password">
                                <div class="col-md-4">
                                    <form class="form-horizontal" [formGroup]="changepwd">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating"
                                                 [ngClass]="validate.displayFieldCss(changepwd, 'password')">
                                                <label class="control-label"></label>
                                                <input type="password"
                                                       name="password"
                                                       class="form-control"
                                                       formControlName="password"
                                                       placeholder="New Password..."
                                                       [(ngModel)]="pwdInfo.password">
                                                <app-field-error-display
                                                        [displayError]="validate.isFieldValid(changepwd, 'password')"
                                                        errorMsg="Enter a valid password.">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating"
                                                 [ngClass]="validate.displayFieldCss(changepwd, 'confirmPassword')">
                                                <label class="control-label"></label>
                                                <input
                                                        type="password"
                                                        class="form-control"
                                                        name="confirmPassword"
                                                        formControlName="confirmPassword"
                                                        placeholder="Retype Password...">
                                                <app-field-error-display
                                                        [displayError]="validate.isFieldValid(changepwd, 'confirmPassword')"
                                                        errorMsg="These passwords don't match. Try again!">
                                                </app-field-error-display>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating"
                                                 [ngClass]="validate.displayFieldCss(changepwd, 'oldPassword')">
                                                <label class="control-label"></label>
                                                <input
                                                        type="password"
                                                        class="form-control"
                                                        name="oldPassword"
                                                        formControlName="oldPassword"
                                                        placeholder="Current Password..."
                                                        [(ngModel)]="pwdInfo.oldPassword">
                                                <app-field-error-display
                                                        [displayError]="validate.isFieldValid(changepwd, 'oldPassword')"
                                                        errorMsg="Required">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                        <button class="btn btn-fill btn-primary" type="button" (click)="changePwd()">
                                            Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal-dialog [(visible)]="showAuthModal">
    <form class="form-horizontal">
        <h2>
            INPUT YOUR AUTHENTICATOR CODE
        </h2>
        <input type="text" class="form-control" style="text-align: center; font-size: 20px;" name="authCode"
               [(ngModel)]="authCode">

        <div class="swal2-validationerror" style="display: block;" *ngIf="!codeMatch">The two-factor authentication code
            you specified is incorrect. Please install Google Authentication and add the two-factor code
        </div>

        <div class="text-center" style="margin-top: 20px;">
            <button type="button" class="btn btn-primary" (click)="submitCode()">Submit</button>
            <button type="button" class="btn btn-default" (click)="showAuthModal = !showAuthModal">Cancel</button>
        </div>
    </form>
</modal-dialog>