<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">BT9Coin</a>
            </div>
            <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                    <li class=" active ">
                        <a href="/register">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                    <li class="">
                        <a href="/login">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="full-page register-page" filter-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Register</h2>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="card-content">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="material-icons">timeline</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Marketing</h4>
                                            <p class="description">
                                                We've created the marketing campaign of the website. It was a very interesting collaboration.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">code</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Fully Coded in HTML5</h4>
                                            <p class="description">
                                                We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Built Audience</h4>
                                            <p class="description">
                                                There is also a Fully Customizable CMS Admin Dashboard for this product.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <form class="form-horizontal" [formGroup]="signup">
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating" [ngClass]="validate.displayFieldCss(signup, 'fullname')">
                                                <label class="control-label"></label>
                                                <input type="text" name="fullname" class="form-control" formControlName="fullname" placeholder="Your full name..." [(ngModel)]="user.fullname">
                                                <app-field-error-display [displayError]="validate.isFieldValid(signup, 'fullname')" errorMsg="Full name is required and must be with letter.">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">account_box</i>
                                            </span>
                                            <div class="form-group label-floating" [ngClass]="validate.displayFieldCss(signup, 'username')">
                                                <label class="control-label"></label>
                                                <input type="text" name="username" class="form-control" formControlName="username" placeholder="Username..." [(ngModel)]="user.username">
                                                <app-field-error-display [displayError]="validate.isFieldValid(signup, 'username')" errorMsg="Username is required and must be with letter and number.">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-group label-floating"  [ngClass]="validate.displayFieldCss(signup, 'email')">
                                                <label class="control-label"></label>
                                                <input type="text" name="email" class="form-control" formControlName="email" placeholder="Email..." [(ngModel)]="user.email">
                                                <app-field-error-display [displayError]="validate.isFieldValid(signup, 'email')" errorMsg="Email is required and format should be john@doe.com.">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating" [ngClass]="validate.displayFieldCss(signup, 'password')">
                                                <label class="control-label"></label>
                                                <input type="password"
                                                       name="password"
                                                       class="form-control"
                                                       formControlName="password"
                                                       placeholder="Password..."
                                                       [(ngModel)]="user.password">
                                                <app-field-error-display [displayError]="validate.isFieldValid(signup, 'password')" errorMsg="Enter a valid password.">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating" [ngClass]="validate.displayFieldCss(signup, 'confirmPassword')">
                                                <label class="control-label"></label>
                                                <input
                                                        type="password"
                                                        class="form-control"
                                                        name="confirmPassword"
                                                        formControlName="confirmPassword"
                                                        placeholder="Retype Password...">
                                                <app-field-error-display
                                                        [displayError]="validate.isFieldValid(signup, 'confirmPassword')" errorMsg="These passwords don't match. Try again!">
                                                </app-field-error-display>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">supervisor_account</i>
                                            </span>
                                            <div class="form-group">
                                                <input type="text" name="sponser" class="form-control" formControlName="sponser" placeholder="Sponser..." readonly value="{{user.sponser}}">
                                            </div>
                                        </div>
                                        <!-- If you want to add a checkbox to this form, uncomment this code -->
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes" formControlName="agree"  [(ngModel)]="user.agree"> I agree to the terms and conditions.
                                            </label>
                                        </div>
                                    </div>

                                    <div class="text-center captcha" style="margin-top: 20px; margin-left: 30px;" *ngIf="sysSettings.register_recaptcha == 1">
                                        <re-captcha site_key="6LdPjjoUAAAAADOGFhnrLXE1wvQc7ALjqJn03MLw" (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>
                                    </div>
                                    <div class="footer text-center">
                                        <button class="btn btn-primary btn-round" (click)="onSignup()" *ngIf="!loading">Sign up</button>
                                        <loader *ngIf="loading"></loader>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="copyright pull-right">
                    &copy; 2018, All Rights Reserved
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url(../../../assets/img/register.jpeg) "></div>
    </div>
</div>
